<p-dialog [resizable]="false" [modal]="true" [(visible)]="visible" appendTo="body"
    [header]="'FileManager::ReviewerSettings' | abpLocalization">
    <!-- <h4>
        {{ prefix }}
    </h4> -->
    <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center" *ngFor="let option of fileReviewerExternalPrivateTypeOptions">
            <p-radioButton [name]="option.key" [value]="option.value" [(ngModel)]="externalPrivateType" [inputId]="option.key + 'Id'"></p-radioButton>
            <label [for]="option.key + 'Id'" class="ml-2">{{ option.key }}</label>
        </div>
    </div>

    <div class="flex mt-3">
        <input pInputText [(ngModel)]="key" class="w-full">
    </div>

    <div class="flex mt-3  justify-content-end">
        <p-button [text]="true" [raised]="true" [label]="'FileManager::Select' | abpLocalization" (click)="select()" icon="fa fa-check"></p-button>
    </div>
</p-dialog>
<ng-container *ngIf="beforeButton; else defaultButton">
    <div class="input-group w-full flex p-inputgroup">
      <p *ngTemplateOutlet="beforeButton"></p>
      <button type="button" pButton pRipple (click)="show()" class="p-button-text"
        style="width:3rem; pointer-events: auto" icon="fa fa-list" [pTooltip]="tooltip | abpLocalization" tooltipPosition="top" [tooltipDisabled]="!tooltip?.length">
      </button>
    </div>
  </ng-container>
  <ng-template #defaultButton>
    <div (click)="show()">
      <div *ngTemplateOutlet="button">
      </div>
    </div>
  </ng-template>