<div class="card p-fluid">
  <h5 class="mb-3">{{ 'Infrastructure::ChangePassword' | abpLocalization }}</h5>
  <div class="field grid" *ngIf="!hideCurrentPassword">
    <label appRequired class="col-12 mb-2 md:col-3 md:mb-0 form-label" for="current-password">
      {{ 'Infrastructure::DisplayName:CurrentPassword' | abpLocalization }}
    </label>
    <div class="col-12 md:col-9">
      <input pInputText type="password" [(ngModel)]="currentPassword" id="current-password" class="form-control"
        autofocus autocomplete="current-password-text" name="random-current-password" style="width: 100%;" (input)="resetValidators()"
        [disabled]="inProgress" [ngClass]="{'ng-invalid ng-dirty': currentPasswordIsInvalid}" form="off" spellcheck="false"/>
    </div>
  </div>

  <div class="field grid">
    <label appRequired class="col-12 mb-2 md:col-3 md:mb-0 form-label" for="new-password">
      {{'Infrastructure::DisplayName:NewPassword' | abpLocalization }}
    </label>
    <div class="col-12 md:col-9">
      <input pInputText type="password" [(ngModel)]="newPassword" id="new-password" class="form-control" autofocus
        autocomplete="new-password" style="width: 100%;" (input)="resetValidators()" [disabled]="inProgress"
        [ngClass]="{'ng-invalid ng-dirty': newPasswordIsInvalid}" />
    </div>
  </div>

  <div class="field grid">
    <label appRequired class="col-12 mb-2 md:col-3 md:mb-0 form-label" for="confirm-new-password">
      {{'Infrastructure::DisplayName:NewPasswordConfirm' | abpLocalization }}
    </label>
    <div class="col-12 md:col-9">
      <input pInputText type="password" id="confirm-new-password" class="form-control" [(ngModel)]="repeatNewPassword"
        autofocus autocomplete="new-password" style="width: 100%;"
        (input)="resetValidators()" [disabled]="inProgress"
        [ngClass]="{'ng-invalid ng-dirty': repeatPasswordIsInvalid}" />
    </div>
  </div>
  <div class="field grid">
    <div class="col-3">
      <p-button [label]="'Infrastructure::Save' | abpLocalization" [disabled]="inProgress" [text]="true"
        [raised]="true" icon="fa fa-check" (click)="onSubmit()" styleClass="w-8rem">
      </p-button>
    </div>
  </div>
</div>
