.col-12 {
  flex: 0 0 auto;
  width: 100%;
  padding: 0.5rem;
}

::ng-deep .p-progressbar-value {
  background-color: cornflowerblue;
}

.application-row {
  background: var(--blue-50) !important;
}

:host ::ng-deep .invalid {
  border: 0.5px solid #eb3d3d !important;
  border-radius: 7px;
}

.settings-dialog {
  min-width: max(400px, 45vw);
  max-width: min(900px, 90vw);
}
