
<!-- <app-page-title [showBreadcrumbs]="false"></app-page-title> -->

<router-outlet></router-outlet>
<app-user-login-settings [(showDialog)]="displayUserIsolation" [user]="user"></app-user-login-settings>
<app-permission-management></app-permission-management>
<app-role-users-management></app-role-users-management>
<app-user-roles-management></app-user-roles-management>
<app-user-org-units-management></app-user-org-units-management>
<app-role-org-units-management></app-role-org-units-management>
<app-user-session-management></app-user-session-management>
