@import "primeflex/core/variables.scss";

*[dir='rtl'] :host ::ng-deep .textAlign {
  text-align: right !important;
}

:host ::ng-deep .textAlign {
  text-align: left;
}

.package-template-create-new {
  max-width: 85vw;
  min-width: 500px;
  width: 85vw;

  @media screen and (min-width: $md) {
    max-width: 50vw;
    min-width: 500px;
    width: 500px;
  }
}
