.layout-topbar-teal {
    --topbar-bg: #00796B;
    --topbar-start-bg: #004D40;
    --container-addon-background-color: var(--topbar-bg); 
    --container-addon-border-color: var(--topbar-start-bg);
    --topbar-menu-button-bg: #D32F2F;
    --topbar-menu-button-hover-bg: #d84848;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
