.layout-topbar-green {
    --topbar-bg: #43A047;
    --topbar-start-bg: #2E7D32;
    --container-addon-background-color: var(--topbar-bg); 
    --container-addon-border-color: var(--topbar-start-bg);
    --topbar-menu-button-bg: #F4511E;
    --topbar-menu-button-hover-bg: #f56639;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}