.layout-topbar-bluegrey {
    --topbar-bg: #546E7A;
    --topbar-start-bg: #37474F;
    --container-addon-background-color: var(--topbar-bg); 
    --container-addon-border-color: var(--topbar-start-bg);
    --topbar-menu-button-bg: #0097A7;
    --topbar-menu-button-hover-bg: #008593;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
