.layout-topbar-indigo {
    --topbar-bg: #3F51B5;
    --topbar-start-bg: #283593;
    --container-addon-background-color: var(--topbar-bg); 
    --container-addon-border-color: var(--topbar-start-bg);
    --topbar-menu-button-bg: #FBC02D;
    --topbar-menu-button-hover-bg: #d3a126;
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
