.layout-topbar-lightgreen {
    --topbar-bg: #689F38;
    --topbar-start-bg: #558B2F;
    --container-addon-background-color: var(--topbar-bg); 
    --container-addon-border-color: var(--topbar-start-bg);
    --topbar-menu-button-bg: #F57C00;
    --topbar-menu-button-hover-bg: #d86d00;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
