@import "primeflex/core/variables.scss";

:host ::ng-deep .loading-dialog {
  .p-dialog-header .p-dialog-header-icons {
    display: none;
  }
}

.dialogWidth {
  max-width: 85vw;
  min-width: 85vw;
  width: 85vw;

  @media screen and (min-width: $lg) {
    max-width: 20vw;
    min-width: 20vw;
    width: 20vw;
  }
}