@import './themes/amber.scss';
@import './themes/blue.scss';
@import './themes/bluegrey.scss';
@import './themes/brown.scss';
@import './themes/cyan.scss';
@import './themes/deeporange.scss';
@import './themes/deeppurple.scss';
@import './themes/green.scss';
@import './themes/indigo.scss';
@import './themes/lightblue.scss';
@import './themes/lightgreen.scss';
@import './themes/lime.scss';
@import './themes/orange.scss';
@import './themes/pink.scss';
@import './themes/purple.scss';
@import './themes/teal.scss';
@import './themes/yellow.scss';


@import "./button.scss";
@import "./dialog.scss";