// .p-button.p-button-text {
//     color: var(--active-button) !important;
// }

// .p-button:focus {
//   box-shadow: 0 0 0 2px #1c2127, 0 0 0 4px var(--active-button), 0 1px 2px 0 rgba(0, 0, 0, 0);
// }

// .p-button:not(:disabled):hover {
//     background: #a5b4fc;
//     color: #030712;
//     border-color: #a5b4fc;
// }

// .p-button:not(:disabled):active {
//     background: #c7d2fe;
//     color: #030712;
//     border-color: #c7d2fe;
// }