.layout-topbar-cyan {
    --topbar-bg: #0097A7;
    --topbar-start-bg: #006064;
    --container-addon-background-color: var(--topbar-bg); 
    --container-addon-border-color: var(--topbar-start-bg);
    --topbar-menu-button-bg: #E64A19;
    --topbar-menu-button-hover-bg: #ca4116;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(103, 66, 66, 0.12);
}
