.layout-topbar-blue {
    --topbar-bg: #1565C0;
    --topbar-start-bg: #0D47A1;
    --container-addon-background-color: var(--topbar-bg); 
    --container-addon-border-color: var(--topbar-start-bg);
    --topbar-menu-button-bg: #FBC02D;
    --topbar-menu-button-hover-bg: #dda928;
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
