.layout-topbar-dark {
    --topbar-bg: var(--surface-a);
    --topbar-start-bg: var(--surface-a);
    // --container-addon-background-color: var(--topbar-bg); 
    // --container-addon-border-color: var(--topbar-start-bg);
    // --topbar-menu-button-bg: #E91E63;
    // --topbar-menu-button-hover-bg: #c41953;
    // --topbar-menu-button-text-color: white;
    --topbar-item-text-color: var(--text-color);
    // --topbar-item-hover-bg: var(--active-menuitem-text-color);
}
