.layout-topbar-deeppurple {
    --topbar-bg: #4527A0;
    --topbar-start-bg: #311B92;
    --container-addon-background-color: var(--topbar-bg); 
    --container-addon-border-color: var(--topbar-start-bg);
    --topbar-menu-button-bg: #F9A825;
    --topbar-menu-button-hover-bg: #d18d1f;
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
