.layout-topbar-yellow {
    --topbar-bg: #FBC02D;
    --topbar-start-bg: #F9A825;
    --container-addon-background-color: var(--topbar-bg); 
    --container-addon-border-color: var(--topbar-start-bg);
    --topbar-menu-button-bg:#212121;
    --topbar-menu-button-hover-bg:#454545;
    --topbar-menu-button-text-color:#ffffff;
    --topbar-item-text-color: #212121;
    --topbar-item-hover-bg: rgba(0,0,0,.12);
}
