.layout-topbar-deeporange {
    --topbar-bg: #D84315;
    --topbar-start-bg: #BF360C;
    --container-addon-background-color: var(--topbar-bg); 
    --container-addon-border-color: var(--topbar-start-bg);
    --topbar-menu-button-bg: #00BCD4;
    --topbar-menu-button-hover-bg: #009eb2;
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
