<div class="loading-dialog">
  <p-dialog [resizable]="false" [header]="title" [(visible)]="display" [modal]="true" [draggable]="false" (visibleChange)="visibleChange($event)">
    <div *ngIf="loading" style="text-align: center;">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    </div>
    <p-message severity="error" *ngIf="errorMessage" [text]="errorMessage"></p-message>
    <p-tabs [(value)]="activeIndex">
      <p-tablist>
        <p-tab value="0">
          <span pBadge class="pr-3 pl-3" severity="warning">
            {{ 'Infrastructure::TenantManagement:Tenant:Create:BaseInfo' | abpLocalization }}
          </span>
        </p-tab>
        <p-tab value="1">
          <span pBadge class="pr-3 pl-3" severity="warning">
            {{ 'Infrastructure::TenantManagement:Tenant:Create:Database' | abpLocalization }}
          </span>
        </p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <ng-template appResponsiveTable="md" let-scrollable let-breakpoint="breakpoint"
            let-direction="direction">
            <div class="text-input-group">
              <label>{{ 'Infrastructure::TenantManagement:TenantName' | abpLocalization }}</label>
              <input type="text" pInputText [disabled]="loading" [(ngModel)]="tenantDto.name" class="w-full"
              [ngClass]="{'ng-invalid ng-dirty': tenantNameEmpty}" (change)="resetTenantVallidators()"/>
            </div>
            <div class="text-input-group mt-3 flex gap-3 align-items-end">
              <span>{{ 'Infrastructure::TenantManagement:IsRoot' | abpLocalization }}</span>
              <p-checkbox [(ngModel)]="tenantDto.isRoot" [disabled]="loading" [binary]="true"></p-checkbox>
            </div>
            <div class="text-input-group mt-3">
              <label>{{ 'Infrastructure::TenantManagement:TenantAdminEmail' | abpLocalization }}</label>
              <input type="text" pInputText [disabled]="loading" [(ngModel)]="tenantDto.adminEmailAddress" class="w-full"
              [ngClass]="{'ng-invalid ng-dirty': adminEmailAddressEmpty}" (change)="resetTenantVallidators()"/>
            </div>
            <div class="text-input-group mt-3">
              <label>{{ 'Infrastructure::TenantManagement:TenantAdminPassword' | abpLocalization }}</label>
              <p-password [toggleMask]="true"[disabled]="loading" [(ngModel)]="tenantDto.adminPassword"
              [ngClass]="{'ng-invalid ng-dirty': adminPasswordEmpty}" (change)="resetTenantVallidators()">
              </p-password>
            </div>
          </ng-template>
        </p-tabpanel>
        <p-tabpanel value="1">
          <ng-template appResponsiveTable="md" let-scrollable let-breakpoint="breakpoint"
            let-direction="direction">
            <div class="flex justify-content-start align-items-center gap-6">
              <span>{{ 'Infrastructure::TenantManagement:CreateDatabase' | abpLocalization }}</span>
              <p-checkbox [(ngModel)]="isCreateDatabase" [disabled]="loading" [binary]="true" (onChange)="changeCreateDb($event)"></p-checkbox>
            </div>
            <div *ngIf="isCreateDatabase" class="mt-3">
              <div class="text-input-group mt-3">
                <label>{{ 'Infrastructure::TenantManagement:DatabaseName' | abpLocalization }}</label>
                <input [(ngModel)]="newDatabaseName" type="text" pInputText [style]="{'width':'100%'}"
                [ngClass]="{'ng-invalid ng-dirty': newDatabaseNameEmpty}" [disabled]="loading" (keydown)="onKeyPress($event)"
                (change)="resetDbValidators()"/>
              </div>
              <div class="text-input-group mt-3">
                <label>{{ 'Infrastructure::TenantManagement:UserName' | abpLocalization }}</label>
                <input [(ngModel)]="newUserName" type="text" pInputText [style]="{'width':'100%'}"
                [ngClass]="{'ng-invalid ng-dirty': newUserNameEmpty}" [disabled]="loading" (keydown)="onKeyPress($event)"
                (change)="resetDbValidators()"/>
              </div>
              <div class="text-input-group mt-3">
                <label>{{ 'Infrastructure::TenantManagement:UserPassword' | abpLocalization }}</label>
                <input [(ngModel)]="newUserPassword" type="text" pInputText [style]="{'width':'100%'}"
                [ngClass]="{'ng-invalid ng-dirty': newUserPasswordEmpty}" [disabled]="loading"
                (change)="resetDbValidators()"/>
              </div>
            </div>
            <div *ngIf="!isCreateDatabase" class="text-input-group mt-3">
              <label>{{ 'Infrastructure::TenantManagement:DefaultConnectionString' | abpLocalization }}</label>
              <input type="text" pInputText [(ngModel)]="defaultConnString" [disabled]="loading" class="w-full"
              [ngClass]="{'ng-invalid ng-dirty': defaultConnStringEmpty}"  (change)="resetDefaultConnStringValidator()"/>
            </div>
          </ng-template>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
    <div class="flex justify-content-end align-items-center gap-3">
      <p-button [text]="true" [raised]="true" icon="pi pi-times" styleClass="p-button-secondary" label="{{'Infrastructure::Cancel' | abpLocalization}}" [disabled]="loading" (onClick)="closeDialog()">
      </p-button>
      <p-button [text]="true" [raised]="true" icon="fa fa-check" styleClass="p-button-primary" label="{{'Infrastructure::Save' | abpLocalization}}" [disabled]="loading" (onClick)="saveTenant()">
      </p-button>
    </div>
  </p-dialog>
</div>
