// @import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';
// @import 'bootstrap/scss/mixins';

:host ::ng-deep .record-table-box {
  // max-width: 90vw;
  // min-width: 90vw;
  // width: 90vw;

  // @include media-breakpoint-up(lg) {
  //   max-width: 70vw;
  //   min-width: 70vw;
  //   width: 70vw;
  // }
}

// .book-icon {
//   margin-top: 5px;
//   margin-left:5px;
//   margin-right:5px; 
//   color: #3b82f6;
// }

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999
}

.dialog-wrapper {
  min-width: max(400px, 45vw);
  max-width: min(900px, 90vw);
}

.icon-button:hover {
  color: var(--active-menuitem-text-color)
}