<div *ngIf="showWithCard">
  <div class="card">
    <div class="card-body" [class]="!title ? 'p-0' : ''">
      <ng-container *ngTemplateOutlet="storageDropdown"></ng-container>
    </div>
  </div>
</div>

<div *ngIf="!showWithCard">
  <ng-container *ngTemplateOutlet="storageDropdown"></ng-container>
</div>



<ng-template #storageDropdown>
  <div class="grid">
    <div *ngIf="title" class="col-4 flex align-items-center">
      <b>{{ title }}</b>
    </div>
    <div [class]="title ? 'col-8' : 'col-12'" class="w-full pb-0">
      <p-select
        [options]="rows"
        optionLabel="name"
        [style]="{ width: '100%' }"
        placeholder="{{ 'StorageModule::StorageProvider' | abpLocalization }}"
        (onChange)="onSelect($event?.value)"
        [(ngModel)]="selected"
        appendTo="body"
        [disabled]="readOnly"
      >
      </p-select>
    </div>
  </div>
</ng-template>


<div class="w-full flex justify-content-end">
  <p-button 
    [text]="true" [raised]="true" 
    label="{{ 'Infrastructure::Select' | abpLocalization }}" (onClick)="storageProviderSelectionEvent.emit(selected)">

  </p-button>
</div>