.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 9rem;
  overflow-y: auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
	width: 100%;
}

.manage-icon {
	min-width: 2rem;
}