<app-page-title [title]="'GatewayManagement::Gateway:List:Title' | abpLocalization" icon="fas fa-project-diagram">
</app-page-title>
<div class="mt-4">
    <app-gateways-options class="mb-2"></app-gateways-options>
    <p-tabs value="accepted">
        <p-tablist>
            <p-tab value="accepted">
                <div class="flex align-items-center gap-2">
                    <i class="fas fa-play"></i>
                    <span class="hidden md:inline">{{'GatewayManagement::Gateway:List:Active' | abpLocalization}}</span>
                </div>
            </p-tab>
            <p-tab value="pending">
                <div class="flex align-items-center gap-2">
                    <i class="fas fa-check-double"></i>
                    <span class="hidden md:inline">{{'GatewayManagement::Gateway:List:Pending' | abpLocalization}}</span>
                </div>
            </p-tab>
            <p-tab value="ignored">
                <div class="flex align-items-center gap-2">
                    <i class="fas fa-archive"></i>
                    <span class="hidden md:inline">{{'GatewayManagement::Gateway:List:Ignored' | abpLocalization}}</span>
                </div>
            </p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="accepted">
                <div class="mt-3 m-3">
                    <p-table [value]="acceptedGateways" selectionMode="single" dataKey="data.id" responsiveLayout="stack"
                        [loading]="loading" class="cell-center data-table" [rows]="15" [paginator]="true"
                        (onRowSelect)="editRow($event)" selectionMode="single" styleClass="pr-table">
                        <ng-template pTemplate="caption">
                            <div class="grid mt-0">
                                <div class="col-12 md:col-6 md:pl-4 p-0 flex align-items-center justify-content-end">
                                    <div class="p-inputgroup">
                                        <input type="text" pInputText #searchField
                                            placeholder="{{'Infrastructure::Search' | abpLocalization}}"
                                            (keydown.enter)="search()" [(ngModel)]="searchQueryText">
                                        <button type="button" (click)="search()" pButton pRipple icon="pi pi-search"
                                            styleClass="p-button-info" class="p-button-text"></button>
                                        <button type="button" pButton pRipple icon="pi pi-times-circle"
                                            class="p-button-danger p-button-text" (click)="clear()"></button>
                                    </div>
                                </div>
                                <div
                                    class="col-12 md:col-6 py-3 md:py-0 flex align-items-center justify-content-center lg:justify-content-end">
                                    <p-button [text]="true" [raised]="true" styleClass="p-button-warning p-button-sm mr-3"
                                        autoWidth="false" [label]="'Infrastructure::Reload' | abpLocalization"
                                        icon="pi pi-sync" (click)="loadGateways()">
                                    </p-button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    {{"GatewayManagement::Gateway:Name" | abpLocalization}}
                                </th>
                                <th appResponsiveColumn="200" class="text-center">
                                    {{"GatewayManagement::Gateway:MachineHash" | abpLocalization}}
                                </th>
                                <th appResponsiveColumn="200" class="text-center">
                                    {{"GatewayManagement::Gateway:HealthCheckTime" | abpLocalization}}
                                </th>
                                <th appResponsiveColumn="200" class="text-center">
                                    {{"GatewayManagement::Gateway:Status" | abpLocalization}}
                                </th>
                                <th appResponsiveColumn="100">
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row>
                            <tr [pSelectableRow]="row">
                                <td>
                                    <span class="non-editing-only p-column-title">
                                        {{"GatewayManagement::Gateway:Name" | abpLocalization}}
                                    </span>
                                    <div class="textAlign">
                                        <span class="column-content">
                                            <span class="px-2">
                                                <i class="fas fa-project-diagram plug-icon">
                                                </i>
                                            </span>
                                            {{row.data.name}}
                                        </span>
                                    </div>
                                </td>

                                <td>
                                    <span class="non-editing-only p-column-title">
                                        {{"GatewayManagement::Gateway:MachineHash" | abpLocalization}}
                                    </span>
                                    <div class="textAlign">
                                        <span class="column-content">
                                            {{row.data.machineHash}}
                                        </span>
                                    </div>
                                </td>

                                <td appResponsiveColumn="200" class="text-center">
                                    <span class="non-editing-only p-column-title">
                                        {{"GatewayManagement::Gateway:HealthCheckTime" | abpLocalization}}
                                    </span>
                                    <span class="column-content">
                                        {{row.data.lastHealthCheckTime}}
                                    </span>
                                </td>
                                <td appResponsiveColumn="200" class="text-center">
                                    <span class="non-editing-only p-column-title">
                                        {{"GatewayManagement::Gateway:Status" | abpLocalization}}
                                    </span>
                                    <span class="column-content">
                                        <app-gateway-health-tag [value]="row.data.healthStatus">
                                        </app-gateway-health-tag>
                                    </span>
                                </td>
                                <td appResponsiveColumn="100">
                                    <div class="flex justify-content-center">
                                        <p-button [pTooltip]="'Infrastructure::Config' | abpLocalization"
                                            tooltipPosition="bottom" icon="fa fa-cog" severity="info" [text]="true"
                                            (click)="settings.showDialog(row.data)"></p-button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr class="table-emptymessage">
                                <td class="w-full" colspan="5">
                                    <div class="card w-full">
                                        <div class="card-body w-full text-center">
                                            {{ "GatewayManagement::Gateway:List:EmptyMessage" | abpLocalization}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabpanel>
            <p-tabpanel value="pending">
                <div class="mt-3 m-3">
                    <p-table [value]="pendingGateways" selectionMode="single" dataKey="data.id" responsiveLayout="stack"
                        [loading]="loading" class="cell-center data-table" [rows]="15" [paginator]="true"
                        (onRowSelect)="editRow($event)" selectionMode="single" styleClass="pr-table">
                        <ng-template pTemplate="caption">
                            <div class="grid mt-0">
                                <div class="col-12 md:col-6 md:pl-4 p-0 flex align-items-center justify-content-end">
                                    <div class="p-inputgroup">
                                        <input type="text" pInputText #searchField
                                            placeholder="{{'Infrastructure::Search' | abpLocalization}}"
                                            (keydown.enter)="search()" [(ngModel)]="searchQueryText">
                                        <button type="button" (click)="search()" pButton pRipple icon="pi pi-search"
                                            styleClass="p-button-info" class="p-button-text"></button>
                                        <button type="button" pButton pRipple icon="pi pi-times-circle"
                                            class="p-button-danger p-button-text" (click)="clear()"></button>
                                    </div>
                                </div>
                                <div
                                    class="col-12 md:col-6 py-3 md:py-0 flex align-items-center justify-content-center lg:justify-content-end">
                                    <p-button [text]="true" [raised]="true" styleClass="p-button-warning p-button-sm mr-3"
                                        autoWidth="false" [label]="'Infrastructure::Reload' | abpLocalization"
                                        icon="pi pi-sync" (click)="loadGateways()">
                                    </p-button>
                                    <app-gateway-create-dialog (createdGateway)="createGateway($event)">
                                        <ng-template template="button">
                                            <p-button [text]="true" [raised]="true" styleClass="p-button-info"
                                                [outlined]="true" autoWidth="false"
                                                [label]="'Infrastructure::Add' | abpLocalization" icon="fa fa-plus">
                                            </p-button>
                                        </ng-template>
                                    </app-gateway-create-dialog>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    {{"GatewayManagement::Gateway:Name" | abpLocalization}}
                                </th>

                                <th appResponsiveColumn="200" class="text-center">
                                    {{"GatewayManagement::Gateway:MachineHash" | abpLocalization}}
                                </th>
                                <th appResponsiveColumn="200" class="text-center">
                                    {{"GatewayManagement::Gateway:Status" | abpLocalization}}
                                </th>
                                <th appResponsiveColumn="100">
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row>
                            <tr [pSelectableRow]="row">
                                <td>
                                    <span class="non-editing-only p-column-title">
                                        {{"GatewayManagement::Gateway:Name" | abpLocalization}}
                                    </span>
                                    <div class="textAlign">
                                        <span class="column-content">
                                            <span *ngIf="!row.editing">
                                                <span class="px-2">
                                                    <i class="fas fa-project-diagram plug-icon">
                                                    </i>
                                                </span>
                                                {{row.data.name}}
                                            </span>
                                            <span *ngIf="row.editing">
                                                <input [(ngModel)]="row.data.name" type="text" pInputText
                                                    [style]="{'width':'100%', 'max-width':'20rem'}" />
                                            </span>
                                        </span>
                                    </div>
                                </td>

                                <td>
                                    <span class="non-editing-only p-column-title">
                                        {{"GatewayManagement::Gateway:MachineHash" | abpLocalization}}
                                    </span>
                                    <div class="textAlign">
                                        <span class="column-content">
                                            {{row.data.machineHash}}
                                        </span>
                                    </div>
                                </td>
                                <td appResponsiveColumn="200" class="text-center">
                                    <span class="non-editing-only p-column-title">
                                        {{"GatewayManagement::Gateway:Status" | abpLocalization}}
                                    </span>
                                    <span class="column-content">
                                        <app-gateway-status-tag [value]="row.data.status">
                                        </app-gateway-status-tag>
                                    </span>
                                </td>
                                <td appResponsiveColumn="100">
                                    <div *ngIf="!acceptingInProcess" class="flex justify-content-center">
                                        <p-button *ngIf="showAccept(row)"
                                            [pTooltip]="'Infrastructure::Accept' | abpLocalization"
                                            tooltipPosition="bottom" icon="fa fa-check" severity="success" [text]="true"
                                            (click)="acceptGateway(row)"></p-button>
                                        <p-button *ngIf="showReject(row)"
                                            [pTooltip]="'Infrastructure::Reject' | abpLocalization"
                                            tooltipPosition="bottom" icon="fa fa-ban" severity="danger" [text]="true"
                                            (click)="rejectGateway(row)"></p-button>
                                    </div>
                                    <div *ngIf="row.editing" class="flex justify-content-center">
                                        <p-button [pTooltip]="'Infrastructure::Save' | abpLocalization"
                                            tooltipPosition="bottom" icon="fa fa-save" severity="success" [text]="true"
                                            (click)="acceptGateway(row)"></p-button>
                                        <p-button [pTooltip]="'Infrastructure::Cancel' | abpLocalization"
                                            tooltipPosition="bottom" icon="fa fa-times" severity="danger" [text]="true"
                                            (click)="cancelAccepting(row)"></p-button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr class="table-emptymessage">
                                <td class="w-full" colspan="4">
                                    <div class="card w-full">
                                        <div class="card-body w-full text-center">
                                            {{ "GatewayManagement::Gateway:List:EmptyMessage" | abpLocalization}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabpanel>
            <p-tabpanel value="ignored">
                <div class="mt-3 m-3">
                    <p-table [value]="ignoredGateways" selectionMode="single" dataKey="data.id" responsiveLayout="stack"
                        [loading]="loading" class="cell-center data-table" [rows]="15" [paginator]="true"
                        (onRowSelect)="editRow($event)" selectionMode="single" styleClass="pr-table">
                        <ng-template pTemplate="caption">
                            <div class="grid mt-0">
                                <div class="col-12 md:col-6 md:pl-4 p-0 flex align-items-center justify-content-end">
                                    <div class="p-inputgroup">
                                        <input type="text" pInputText #searchField
                                            placeholder="{{'Infrastructure::Search' | abpLocalization}}"
                                            (keydown.enter)="search()" [(ngModel)]="searchQueryText">
                                        <button type="button" (click)="search()" pButton pRipple icon="pi pi-search"
                                            styleClass="p-button-info" class="p-button-text"></button>
                                        <button type="button" pButton pRipple icon="pi pi-times-circle"
                                            class="p-button-danger p-button-text" (click)="clear()"></button>
                                    </div>
                                </div>
                                <div
                                    class="col-12 md:col-6 py-3 md:py-0 flex align-items-center justify-content-center lg:justify-content-end">
                                    <p-button [text]="true" [raised]="true" styleClass="p-button-warning p-button-sm mr-3"
                                        autoWidth="false" [label]="'Infrastructure::Reload' | abpLocalization"
                                        icon="pi pi-sync" (click)="loadGateways()">
                                    </p-button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    {{"GatewayManagement::Gateway:Name" | abpLocalization}}
                                </th>
                                <th appResponsiveColumn="200" class="text-center">
                                    {{"GatewayManagement::Gateway:MachineHash" | abpLocalization}}
                                </th>
                                <th appResponsiveColumn="200" class="text-center">
                                    {{"GatewayManagement::Gateway:Status" | abpLocalization}}
                                </th>
                                <th appResponsiveColumn="100">
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row>
                            <tr [pSelectableRow]="row">
                                <td>
                                    <span class="non-editing-only p-column-title">
                                        {{"GatewayManagement::Gateway:Name" | abpLocalization}}
                                    </span>
                                    <div class="textAlign">
                                        <span class="column-content">
                                            <span class="px-2">
                                                <i class="fas fa-project-diagram plug-icon">
                                                </i>
                                            </span>
                                            {{row.data.name}}
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <span class="non-editing-only p-column-title">
                                        {{"GatewayManagement::Gateway:MachineHash" | abpLocalization}}
                                    </span>
                                    <div class="textAlign">
                                        <span class="column-content">
                                            {{row.data.machineHash}}
                                        </span>
                                    </div>
                                </td>
                                <td appResponsiveColumn="200" class="text-center">
                                    <span class="non-editing-only p-column-title">
                                        {{"GatewayManagement::Gateway:Status" | abpLocalization}}
                                    </span>
                                    <span class="column-content">
                                        <app-gateway-status-tag [value]="row.data.status">
                                        </app-gateway-status-tag>
                                    </span>
                                </td>
                                <td appResponsiveColumn="100">
                                    <div class="flex justify-content-center">
                                        <p-button (click)="removeGateway(row)"
                                            [pTooltip]="'Infrastructure::Delete' | abpLocalization"
                                            tooltipPosition="bottom" icon="fa fa-trash" severity="danger"
                                            [text]="true"></p-button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr class="table-emptymessage">
                                <td class="w-full" colspan="4">
                                    <div class="card w-full">
                                        <div class="card-body w-full text-center">
                                            {{ "GatewayManagement::Gateway:List:EmptyMessage" | abpLocalization}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>

<app-gateway-settings-dialog #settings (settingsChanged)="loadGateways()">
</app-gateway-settings-dialog>