:host ::ng-deep .icon-button{
    font-weight: 700 !important;
    cursor: pointer;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    font-size: medium;
}


p-button {
    white-space: nowrap;
}