<p-dialog [resizable]="false" [(visible)]="showDialog" [closable]="false" [draggable]="false"
  [header]="'TenantManagement::RoleOrgUnitsManagement:Title' | abpLocalization:role?.name" [modal]="true">
  <ng-template pTemplate="header">
    <div style="display: flex; width: 100% !important; justify-content: space-between;">
        <div>
            <span style="font-weight:700; font-size: 1.25rem">
                {{'TenantManagement::RoleOrgUnitsManagement:Title' | abpLocalization:role?.name}}
            </span>
        </div>
        <div>
            <span class="icon-close-button" (click)="cancel()">
                <i class="pi pi-times"></i>
            </span>
        </div>
    </div>
  </ng-template>
  <div *ngIf="showDialog" class="wrapper">
    <app-organization-units-selection-tree [defaultSelectedOrganizationUnits]="defaultSelectedOrganizationUnits"
      [anySelected]="false" [loading]="loading" [isAnySelectionAvailable]="false"
      (selectionEvent)="onOrgUnitsSelected($event)" [onlyUsers]="false" [isManage]="true">
    </app-organization-units-selection-tree>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex align-items-center justify-content-end mt-4">
      <p-button [text]="true" [raised]="true" (click)="cancel()" styleClass="p-button-secondary mr-3" autoWidth="false"
        [label]="'Infrastructure::Cancel' | abpLocalization" icon="fa fa-times" [disabled]="loading">
      </p-button>
      <p-button [text]="true" [raised]="true" styleClass="p-button-primary mr-3" autoWidth="false" [disabled]="loading"
        [label]="'Infrastructure::Save' | abpLocalization" (click)="save()" [icon]="loading ? 'fa fa-spin fa-spinner' : 'fa fa-check'">
      </p-button>
    </div>
  </ng-template>
</p-dialog>