.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 4rem 0rem 0rem 0rem;
    transition: margin-right $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
    margin: 1rem;
}
@media (max-width: 991px) {
    .layout-main {
        flex: 1 1 auto;
        margin: 1rem;
        margin-top: 0;
    }
}