.full-width .layout-main {
    width: 100%;
}

@media screen and (min-width: 1960px) {

    .layout-main,
    .landing-wrapper {
        width: 1504px;
        margin-right: auto !important;
        margin-left: auto !important;
    }

}

@media (min-width: 992px) {
    .layout-wrapper {
        &.layout-overlay {
            .layout-main-container {
                margin-right: 0;
                // padding-right: 2rem;
                padding-right: 0rem;
            }

            .layout-sidebar {
                z-index: 999;
                transform: translateX(100%);
                right: 0;
                top: 0;
                height: 100vh;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &.layout-overlay-active {
                .layout-sidebar {
                    transform: translateX(0);
                }
            }
        }

        &.layout-overlay-active {
            .layout-topbar {
                .layout-menu-button {
                    i {
                        transform: rotate(-180deg);
                    }
                }
            }
        }

        &.layout-static {
            .layout-topbar {
                .layout-menu-button {
                    i {
                        transform: rotate(180deg);
                    }
                }
            }

            .layout-main-container {
                margin-right: 17rem;
            }

            &.layout-static-inactive {
                .layout-sidebar {
                    transform: translateX(100%);
                    right: 0;
                }

                .layout-main-container {
                    margin-right: 0;
                    // padding-right: 2rem;
                    padding-right: 0rem;
                }

                .layout-topbar {
                    .layout-menu-button {
                        i {
                            transform: rotate(0deg);
                        }
                    }
                }
            }
        }

        .layout-mask {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .blocked-scroll {
        overflow: hidden;
    }

    .layout-wrapper {
        .layout-main-container {
            margin-right: 0;
            // padding-right: 2rem;
            padding-right: 0rem;
        }

        .layout-sidebar {
            z-index: 999;
            transform: translateX(100%);
            right: 0;
            top: 0;
            height: 100vh;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .layout-mask {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 998;
            width: 100%;
            height: 100%;
            background-color: var(--maskbg);
        }

        &.layout-mobile-active {
            .layout-sidebar {
                transform: translateX(0);
            }

            .layout-mask {
                display: block;
                animation: fadein $transitionDuration;
            }
        }
    }
}

@media screen and (min-width: 1729px) {
    .layout-main {
        width: 1504px;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}