:host ::ng-deep .icon-button{
    // background-color: transparent !important;
    // border-color: transparent !important;
    font-weight: 700 !important;
    // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
    // border: 7px solid;
    // border-radius: 8px;
    cursor: pointer;
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
    font-size: medium;
}

.icon-button:hover {
    color: var(--active-menuitem-text-color)
}


:host ::ng-deep .breadcrumb-wrapper {
    padding-right:0.5rem;
    padding-left:0.5rem;
    .breadcrumb-controls {
        padding: 0.7rem;
        padding-right: 0;
        padding-left:0;
    }
    .p-breadcrumb {
        background: none;
        border: none;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    background-color: var(--container-addon-background-color);
    border: 1px solid var(--container-addon-border-color);
    border-radius: 5px;
    color: var(--topbar-item-text-color);
    chevronrighticon {
        color: var(--topbar-item-text-color);
    }
    a {
        color: var(--topbar-item-text-color);
        span {
            color: var(--topbar-item-text-color);
        }
    }
    .p-menuitem-icon:hover {
        color: var(--active-menuitem-text-color)
    }
} 


// :host ::ng-deep .p-breadcrumb {
//     background-color: var(--container-addon-background-color);
//     border-color: var(--container-addon-border-color);
//     color: var(--topbar-item-text-color);
//     chevronrighticon {
//         color: var(--topbar-item-text-color);
//     }
//     a {
//         color: var(--topbar-item-text-color);
//         span {
//             color: var(--topbar-item-text-color);
//         }
//     }
// } 