@import "primeflex/core/variables.scss";

.wrapper {
  max-width: 90vw;
  min-width: 90vw;
  width: 90vw;

  @media screen and (min-width: $lg) {
    max-width: 800px;
    min-width: 800px;
    width: 800px;
  }
}

:host {
  display: block;
}

.cropper img {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  width: 100%;
  height: auto;

  @media screen and (min-width: $lg) {
    max-height: 60vh;
  }
}

.cropper-wrapper {
  position: relative;
  min-height: 80px;
}

.cropper-wrapper .loading-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cropper-wrapper .loading-block .spinner {
  width: 31px;
  height: 31px;
  margin: 0 auto;
  border: 2px solid rgba(97, 100, 193, 0.98);
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: cssload-spin 425ms infinite linear;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  animation: cssload-spin 425ms infinite linear;
}

@-webkit-keyframes cssload-spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes cssload-spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
