<div>
  <ng-template
    appResponsiveTable="md"
    let-scrollable
    let-breakpoint="breakpoint"
    let-direction="direction"
  >
    <p-table
      #accountPackagesTable
      [scrollable]="scrollable"
      [responsive]="true"
      responsiveLayout="stack"
      [breakpoint]="breakpoint"
      scrollDirection="both"
      [value]="rows"
      dataKey="rowId"
      [loading]="loading"
      [paginator]="false"
      rowExpandMode="single"
    >
      <ng-template pTemplate="header">
        <tr class="table-header w-full">
          <th style="width: 2rem"></th>
          <th>
            {{ 'AccountingModule::Row:PackageTemplate' | abpLocalization }}
          </th>
          <th appResponsiveColumn="200" *ngIf="isAccountManager">
            {{ 'AccountingModule::Row:BillingPeriodType' | abpLocalization }}
          </th>
          <th appResponsiveColumn="200" *ngIf="isAccountManager">
            {{ 'AccountingModule::Row:OneTimeDiscount' | abpLocalization }}
          </th>
          <th appResponsiveColumn="200" *ngIf="isAccountManager">
            {{ 'AccountingModule::Row:PermanentDiscount' | abpLocalization }}
          </th>
          <th appResponsiveColumn="150" *ngIf="isAccountManager">
            {{ 'AccountingModule::Row:AutoRenewal' | abpLocalization }}
          </th>
          <th appResponsiveColumn="150">
            {{ 'AccountingModule::Row:LinkedMembers' | abpLocalization }}
          </th>
          <th
            appResponsiveColumn="110"
            [alignFrozen]="direction"
            pFrozenColumn
          ></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-row
        let-rowIndex="rowIndex"
        let-expanded="expanded"
      >
        <tr class="cursor-pointer" [pRowToggler]="row">
          <td>
            <i
              [class]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></i>
          </td>
          <td [pRowTogglerDisabled]="true">
            <span class="non-editing-only p-column-title"
              >{{ 'AccountingModule::Row:PackageTemplate' | abpLocalization }}
            </span>
            <span class="column-content">
              {{ row.data.name ?? '-' }}
            </span>
          </td>
          <td appResponsiveColumn="200" *ngIf="isAccountManager">
            <span class="non-editing-only p-column-title">{{
              'AccountingModule::Row:BillingPeriodType' | abpLocalization
            }}</span>
            <span class="column-content">
              {{ getBillingPeriodTypeName(row.data.billingPeriodType) }}
            </span>
          </td>
          <td appResponsiveColumn="200" *ngIf="isAccountManager">
            <span class="non-editing-only p-column-title">{{
              'AccountingModule::Row:OneTimeDiscount' | abpLocalization
            }}</span>
            <span class="column-content">
              {{ row.data.oneTimeDiscount }}
            </span>
          </td>
          <td appResponsiveColumn="200" *ngIf="isAccountManager">
            <span class="non-editing-only p-column-title">{{
              'AccountingModule::Row:PermanentDiscount' | abpLocalization
            }}</span>
            <span class="column-content">
              {{ row.data.permanentDiscount }}
            </span>
          </td>
          <td appResponsiveColumn="150" *ngIf="isAccountManager">
            <span class="non-editing-only p-column-title">{{
              'AccountingModule::Row:AutoRenewal' | abpLocalization
            }}</span>
            <span class="column-content">
              <p-checkbox
                [binary]="true"
                [(ngModel)]="row.data.autoRenewal"
                [disabled]="true"
                id="autoRenewal-input"
              >
              </p-checkbox>
            </span>
          </td>
          <td appResponsiveColumn="150">
            <span class="non-editing-only p-column-title">
              {{ 'AccountingModule::Row:LinkedMembers' | abpLocalization }}
            </span>
            <span class="column-content">
              <span class="mr-2">{{ getLinkedMembersDisplay(row) }}</span>
            </span>
          </td>
          <td
            appResponsiveColumn="110"
            class="grid-buttons"
            [alignFrozen]="direction"
            pFrozenColumn
            [pRowTogglerDisabled]="true"
          >
            <div class="flex gap-2 justify-content-end">
              <i
                (click)="
                  openMemberSelectionDialog(row); $event.stopPropagation()
                "
                class="fa fa-user-plus"
                [pTooltip]="
                  'AccountingModule::Tooltip:SelectLinkedMembers'
                    | abpLocalization
                "
              ></i>
              <i
                (click)="editRow(row); $event.stopPropagation()"
                class="fa fa-edit"
                [pTooltip]="
                  'AccountingModule::Tooltip:EditAccountPackage'
                    | abpLocalization
                "
              ></i>
              <i
                (click)="removeRow(rowIndex); $event.stopPropagation()"
                class="fa fa-trash"
                style="color: var(--danger-color)"
                [pTooltip]="
                  'AccountingModule::Tooltip:RemoveAccountPackage'
                    | abpLocalization
                "
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template #expandedrow let-row>
        <tr>
          <td [attr.colspan]="isAccountManager ? 8 : 4">
            <div class="card p-0">
              <div class="card-body p-0">
                <p-table
                  *ngIf="
                    row.data.packageTemplate?.packageType === PackageType.User
                  "
                  [value]="row.linkedUsers || []"
                  dataKey="id"
                  responsiveLayout="scroll"
                  [lazy]="true"
                  [rows]="10"
                  [paginator]="!row.data.maxMembers"
                  [loading]="row.loadingLinkedUsers"
                  [totalRecords]="row.totalLinkedUsers"
                  (onLazyLoad)="loadLinkedUsers($event, row)"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>
                        {{
                          'AccountingModule::Row:LinkedUsers' | abpLocalization
                        }}
                      </th>
                      <th style="width: 100px"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-linkedUser>
                    <tr>
                      <td>
                        {{ linkedUser.name || '-' }}
                      </td>
                      <td>
                        <div
                          class="flex justify-content-end align-items-center"
                        >
                          <i
                            (click)="deleteLinkedUser(linkedUser, row)"
                            class="fa fa-trash cursor-pointer"
                            style="color: var(--danger-color)"
                            [pTooltip]="
                              'AccountingModule::Tooltip:DeleteLinkedUser'
                                | abpLocalization
                            "
                          ></i>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr class="table-emptymessage">
                      <td colspan="2">
                        <div class="card w-full">
                          <div class="card-body w-full">
                            {{
                              'AccountingModule::NoLinkedUsers'
                                | abpLocalization
                            }}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>

                <p-table
                  *ngIf="
                    row.data.packageTemplate?.packageType === PackageType.Tenant
                  "
                  [value]="row.linkedTenants || []"
                  dataKey="id"
                  responsiveLayout="scroll"
                  [lazy]="true"
                  [rows]="10"
                  [paginator]="!row.data.maxMembers"
                  [loading]="row.loadingLinkedTenants"
                  [totalRecords]="row.totalLinkedTenants"
                  (onLazyLoad)="loadLinkedTenants($event, row)"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>
                        {{
                          'AccountingModule::Row:LinkedTenant' | abpLocalization
                        }}
                      </th>
                      <th style="width: 100px">
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-linkedTenant>
                    <tr>
                      <td>
                        {{ linkedTenant.name || '-' }}
                      </td>
                      <td>
                        <div
                          class="flex justify-content-end align-items-center"
                        >
                          <i
                            (click)="deleteLinkedTenant(linkedTenant, row)"
                            class="fa fa-trash cursor-pointer"
                            style="color: var(--danger-color)"
                            [pTooltip]="
                              'AccountingModule::Tooltip:DeleteLinkedTenant'
                                | abpLocalization
                            "
                          ></i>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr class="table-emptymessage">
                      <td colspan="2">
                        <div class="card w-full">
                          <div class="card-body w-full">
                            {{
                              'AccountingModule::NoLinkedTenants'
                                | abpLocalization
                            }}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="table-emptymessage">
          <td class="w-full" [attr.colspan]="isAccountManager ? 8 : 4">
            <div class="card w-full">
              <div class="card-body w-full">
                <div class="card-header">
                  {{ 'AccountingModule::NoAccountPackages' | abpLocalization }}
                </div>
                <div class="flex align-item-center justify-content-center">
                  <button
                    (click)="addRow()"
                    pButton
                    [pTooltip]="
                      'AccountingModule::Tooltip:AddAccountPackageRow'
                        | abpLocalization
                    "
                    icon="fa fa-plus"
                    [disabled]="loading"
                    class="small-width-only p-button-outlined p-button-rounded"
                    iconPos="left"
                  ></button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</div>

<app-user-member-selection-dialog
  [(display)]="showUserMemberSelectionDialog"
  [accountId]="accountId"
  [accountPackageId]="currentPackageRow?.data.id"
  (userAdded)="onUserAdded($event)"
>
</app-user-member-selection-dialog>

<app-tenant-member-selection-dialog
  [(display)]="showTenantMemberSelectionDialog"
  [accountId]="accountId"
  [accountPackageId]="currentPackageRow?.data.id"
  (tenantAdded)="onTenantAdded($event)"
>
</app-tenant-member-selection-dialog>

<app-account-package-create-dialog
  [(display)]="showCreateDialog"
  [accountId]="accountId"
  [accountPackageId]="currentEditingPackageId"
  [localizedBillingPeriodTypes]="localizedBillingPeriodTypes"
  (saved)="onAccountPackageSaved($event)"
>
</app-account-package-create-dialog>
