<div class="card p-fluid single-column-wrapper">
  <div class="lg:col-6 md:col-6 sm:col-12">
    <ng-container *ngFor="let group of settingGroups; index as i">
      <div *ngIf="showSection(group)">
        <h5>{{ group.name | abpLocalization }}</h5>
        <div *ngFor="let setting of group.settings">
          <ng-container
            *ngIf="
              setting.type == SettingType.String &&
              showCommonStringInput(setting.name)
            "
          >
            <div class="p-1">
              <label>{{ ("TenantManagement::" + setting.displayName) | abpLocalization}}</label>
              <input
                pInputText
                [(ngModel)]="setting.value"
                (ngModelChange)="state.setDirty()"
                class="w-100"
              />
              <small>{{ ("TenantManagement::" + setting.description) | abpLocalization}}</small>
            </div>
          </ng-container>
          <ng-container
            *ngIf="
              setting.type == SettingType.String &&
              setting.name === 'TwoFactorAuthenticationOption'
            "
          >
            <div class="p-1">
              <label>{{ ("TenantManagement::" + setting.displayName) | abpLocalization }}</label>
              <p-select
                [options]="twoFactorAuthOptions"
                [(ngModel)]="setting.value"
                appendTo="body"
                optionValue="value"
                optionLabel="name"
                (onChange)="state.setDirty()"
                [filter]="false"
                autoWidth="false"
                [style]="{ width: '100%' }"
              >
              </p-select>
              <small>{{ ("TenantManagement::" + setting.description) | abpLocalization}}</small>
            </div>
          </ng-container>
          <ng-container
            *ngIf="
              setting.type == SettingType.String &&
              setting.name === 'SmsProviderOption'
            "
          >
            <div class="p-1">
              <label>{{ ("TenantManagement::" + setting.displayName) | abpLocalization }}</label>
              <p-select
                [options]="smsProviderOptions"
                [(ngModel)]="setting.value"
                appendTo="body"
                optionValue="value"
                optionLabel="name"
                (onChange)="state.setDirty()"
                [filter]="false"
                autoWidth="false"
                [style]="{ width: '100%' }"
              >
              </p-select>
              <small>{{ ("TenantManagement::" + setting.description) | abpLocalization}}</small>
            </div>
          </ng-container>
          <ng-container *ngIf="setting.type == SettingType.Number">
            <div class="p-1">
              <label *ngIf="!showRequaredMark(setting)">{{
                ("TenantManagement::" + setting.displayName) | abpLocalization
              }}</label>
              <label *ngIf="showRequaredMark(setting)" appRequired>{{
                ("TenantManagement::" + setting.displayName) | abpLocalization
              }}</label>

              <p-inputNumber
                [ngModel]="setting.value"
                (ngModelChange)="setting.value = $event.toString()"
                [inputStyle]="{ width: '100%' }"
                [minValue]="1"
                [style]="{ width: '100%' }"
                class="w-100"
                (onInput)="state.setDirty()"
              ></p-inputNumber>
              <small>{{ ("TenantManagement::" + setting.description) | abpLocalization}}</small>
            </div>
          </ng-container>
          <ng-container *ngIf="setting.type == SettingType.Boolean">
            <div class="p-1">
              <div class="flex align-items-center gap-2">
              <p-checkbox
                [binary]="true"
                [(ngModel)]="setting.value"
                trueValue="True"
                falseValue="False"
                [inputId]="setting.name"
                (onChange)="onBooleanChange(setting, $event)"
              >
              </p-checkbox>
              
              <span>{{ ("TenantManagement::" + setting.name) | abpLocalization }}</span>
              </div>
              <div>
                <small>{{ ("TenantManagement::" + setting.description) | abpLocalization}}</small>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="setting.type == SettingType.Template">
            <div class="p-1">
              <div
                class="system-template-preview p-3 template-border cursor-pointer"
                (click)="openTwoFactorTemplateDialog(setting.name)"
                [title]="'TenantManagement::ClickToEdit' | abpLocalization"
              >
                <div
                  class="text-overflow-ellipsis white-space-nowrap overflow-hidden"
                  *ngIf="twoFactorTemplateContent"
                >
                  {{ twoFactorTemplateContent }}
                </div>
                <div class="text-500 italic" *ngIf="!twoFactorTemplateContent">
                  {{ 'TenantManagement::ClickToSetTemplate' | abpLocalization }}
                </div>
              </div>
              <div>
                <small>{{ ("TenantManagement::" + setting.description) | abpLocalization}}</small>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <hr class="my-4" *ngIf="showSection(group)" />
    </ng-container>
  </div>
</div>

<!-- <app-create-template-dialog
  [visible]="templateDialogVisible"
  [header]="templateDialogHeader"
  [templateName]="templateDialogName"
  [fixedType]="templateDialogType"
  (visibleChange)="onTemplateDialogVisibleChange($event)"
  (saved)="onTemplateSaved($event)"
>
</app-create-template-dialog> -->
