.icon-close-button {
    cursor: pointer;
    color: #6c757d;
    transition: box-shadow 0.3s ease;
    display: inline-flex;
    border-radius: 50%;
  }
  
  .icon-close-button:hover {
    box-shadow: 0 0 0 5px rgba(108, 117, 125, 0.2);
    background-color: rgba(108, 117, 125, 0.2);
  }
  