:host ::ng-deep .p-tabview-panels {
  padding: 0 !important;
}


*[dir='rtl'] :host ::ng-deep .textAlign {
  text-align: right !important;
}

:host ::ng-deep .textAlign {
  text-align: left;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td{
  padding: 0;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  padding: 0.75rem !important;
}

.mx-custom{
  margin-left: 1.4rem !important;
  margin-right: 1.4rem !important;
}