<app-page-title [title]="title" icon="fas fa-user-alt"> </app-page-title>
<div class="content" *ngIf="header?.data?.id">
  <div #generalDetailsCard class="grid">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ 'AccountingModule::HeaderTitle' | abpLocalization }}
          </h5>
          <div class="grid m-0">
            <div
              class="field pr-only"
              [ngClass]="
                generalDetailsCard.offsetWidth < viewportBreakpoints.md
                  ? 'col-12'
                  : 'sm:col-4'
              "
            >
              <label appRequired>{{
                'AccountingModule::Account:Header:AccountName' | abpLocalization
              }}</label>
              <input
                [(ngModel)]="header.data.accountName"
                (change)="resetValidators()"
                [disabled]="loading"
                type="text"
                pInputText
                [ngClass]="{ 'ng-invalid ng-dirty': header.nameEmpty }"
                [style]="{ width: '100%' }"
                maxlength="230"
              />
            </div>
            <div
              class="field pr-only"
              [ngClass]="
                generalDetailsCard.offsetWidth < viewportBreakpoints.md
                  ? 'col-12'
                  : 'sm:col-4'
              "
            >
              <label appRequired>{{
                'AccountingModule::Account:Header:Owner' | abpLocalization
              }}</label>
              <div class="p-inputgroup">
                <input
                  class="no-select"
                  inputId="owner-input"
                  [value]="header.owner?.name || ''"
                  type="text"
                  pInputText
                  [disabled]="true"
                  placeholder="{{
                    'AccountingModule::Account:Header:Owner:Placeholder'
                      | abpLocalization
                  }}"
                />
                <button
                  type="button"
                  (click)="openOwnerSelectionDialog()"
                  pButton
                  pRipple
                  icon="fa fa-user"
                  [disabled]="loading"
                  styleClass="p-button-info"
                  class="p-button-text"
                  [pTooltip]="'AccountingModule::Account:Header:Owner:Select' | abpLocalization"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #rowsCard class="card table-card">
    <div class="card-body">
      <p-tabs [value]="activeTabIndex" [scrollable]="false" (valueChange)="activeTabIndex = $event">
        <p-tablist>
          <p-tab [value]="0">
            <span
              pBadge
              severity="warning"
              class="pr-2"
              [value]="getRowsLength()"
              [badgeDisabled]="getRowsLength() === 0"
            >
              {{ 'AccountingModule::Subscriptions' | abpLocalization }}
            </span>
          </p-tab>
          <p-tab [value]="1">
            <span class="pr-2">
              {{ 'AccountingModule::BillingInformation' | abpLocalization }}
            </span>
          </p-tab>
          <p-tab [value]="2">
            <span
              pBadge
              severity="info"
              class="pr-2"
              [value]="getMembersLength()"
              [badgeDisabled]="getMembersLength() === 0"
            >
              {{ 'AccountingModule::Members' | abpLocalization }}
            </span>
          </p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel [value]="0">
          <div>
            <ng-template
              appResponsiveTable="md"
              let-scrollable
              let-breakpoint="breakpoint"
              let-direction="direction"
              (render)="ensureRowEditing()"
            >
              <p-table
                #accountPackagesTable
                [scrollable]="scrollable"
                [responsive]="true"
                responsiveLayout="stack"
                [breakpoint]="breakpoint"
                scrollDirection="both"
                [value]="header.rows"
                dataKey="rowUniqueId"
                editMode="row"
                [loading]="loading"
                [paginator]="false"
              >
                <ng-template pTemplate="header">
                  <tr class="table-header w-full">
                    <!-- <th style="width:1%; max-width: 50px; min-width: 50px;"></th> -->
                    <th>
                      {{
                        'AccountingModule::Row:PackageTemplate'
                          | abpLocalization
                      }}
                    </th>
                    <th appResponsiveColumn="200" *ngIf="isAccountManager">
                      {{
                        'AccountingModule::Row:BillingPeriodType'
                          | abpLocalization
                      }}
                    </th>
                    <th appResponsiveColumn="200" *ngIf="isAccountManager">
                      {{
                        'AccountingModule::Row:OneTimeDiscount'
                          | abpLocalization
                      }}
                    </th>
                    <th appResponsiveColumn="200" *ngIf="isAccountManager">
                      {{
                        'AccountingModule::Row:PermanentDiscount'
                          | abpLocalization
                      }}
                    </th>
                    <th appResponsiveColumn="150" *ngIf="isAccountManager">
                      {{
                        'AccountingModule::Row:AutoRenewal' | abpLocalization
                      }}
                    </th>
                    <th appResponsiveColumn="150">
                      {{
                        'AccountingModule::Row:LinkedMembers' | abpLocalization
                      }}
                    </th>
                    <!-- <th appResponsiveColumn="200">{{'AccountingModule::Row:Price' | abpLocalization}}</th> -->
                    <th
                      appResponsiveColumn="110"
                      [alignFrozen]="direction"
                      pFrozenColumn
                    >
                      <p-button
                        icon="fa fa-plus"
                        (click)="addRow()"
                        [disabled]="loading"
                        autoWidth="false"
                        [text]="true"
                        [raised]="true"
                        iconPos="left"
                        styleClass="p-button-info p-button-sm"
                        [label]="'AccountingModule::Add' | abpLocalization"
                      >
                      </p-button>
                    </th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-row
                  let-editing="editing"
                  let-rowIndex="rowIndex"
                >
                  <tr
                    #accountPackageRow
                    [pEditableRow]="row"
                    [ngClass]="{ editing: editing }"
                  >
                    <!-- <td style="width:1%; max-width: 50px; min-width: 50px;">
                        <button type="button" pButton pRipple [pRowToggler]="row"
                          class="p-button-text p-button-rounded p-button-plain"
                          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                        </button>
                      </td> -->
                    <td>
                      <span class="non-editing-only p-column-title"
                        >{{
                          'AccountingModule::Row:PackageTemplate'
                            | abpLocalization
                        }}
                      </span>
                      <p-cellEditor>
                        <ng-template #input>
                          <div class="p-float-label">
                            <ng-template #beforeAreaButton>
                              <input
                                [ngClass]="{
                                  'ng-invalid ng-dirty':
                                    header?.templateNotSelected
                                }"
                                class="no-select flex-1"
                                (change)="resetRowValidators(row)"
                                inputId="module-input"
                                [value]="row.data.name ?? '-'"
                                type="text"
                                pInputText
                                [disabled]="true"
                                placeholder="{{
                                  'AccountingModule::TemplateSelection'
                                    | abpLocalization
                                }}"
                              />
                            </ng-template>
                            <app-package-template-selection-dialog
                              [style]="{ width: '100%' }"
                              icon="fa fa-list"
                              (selectEvent)="
                                onAccountPackageChange($event, row)
                              "
                              [beforeButton]="beforeAreaButton"
                            >
                            </app-package-template-selection-dialog>
                            <label
                              class="editing-only small-width-only"
                              for="module-input"
                              >{{
                                'AccountingModule::Row:PackageTemplate'
                                  | abpLocalization
                              }}</label
                            >
                          </div>
                        </ng-template>
                        <ng-template #output>
                          <span class="column-content">
                            {{ row.data.name ?? '-' }}
                          </span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td appResponsiveColumn="200" *ngIf="isAccountManager">
                      <span class="non-editing-only p-column-title">{{
                        'AccountingModule::Row:BillingPeriodType'
                          | abpLocalization
                      }}</span>
                      <p-cellEditor>
                        <ng-template #input>
                          <div class="p-float-label">
                            <p-select
                              [options]="localizedBillingPeriodTypes"
                              [(ngModel)]="row.data.billingPeriodType"
                              appendTo="body"
                              class="w-full"
                              optionValue="value"
                              optionLabel="name"
                              [filter]="false"
                              autoWidth="false"
                              [style]="{ width: '100%' }"
                              id="billingPeriodType-input"
                            >
                            </p-select>
                            <label
                              class="editing-only small-width-only"
                              for="billingPeriodType-input"
                            >
                              {{
                                'AccountingModule::Row:BillingPeriodType'
                                  | abpLocalization
                              }}</label
                            >
                          </div>
                        </ng-template>
                        <ng-template #output>
                          <span class="column-content">
                            {{
                              getBillingPeriodTypeName(
                                row.data.billingPeriodType
                              )
                            }}
                          </span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td appResponsiveColumn="200" *ngIf="isAccountManager">
                      <span class="non-editing-only p-column-title">{{
                        'AccountingModule::Row:OneTimeDiscount'
                          | abpLocalization
                      }}</span>
                      <p-cellEditor>
                        <ng-template #input>
                          <div class="p-float-label">
                            <p-inputNumber
                              id="oneTimeDiscount-input"
                              [style]="{ width: '100%' }"
                              [inputStyle]="{ width: '100%' }"
                              [step]="0.1"
                              [min]="0.1"
                              [max]="1e6"
                              [showButtons]="true"
                              [(ngModel)]="row.data.oneTimeDiscount"
                              mode="decimal"
                              [minFractionDigits]="0"
                              [maxFractionDigits]="1"
                            ></p-inputNumber>
                            <label
                              class="editing-only small-width-only"
                              for="oneTimeDiscount-input"
                            >
                              {{
                                'AccountingModule::Row:OneTimeDiscount'
                                  | abpLocalization
                              }}</label
                            >
                          </div>
                        </ng-template>
                        <ng-template #output>
                          <span class="column-content">
                            {{ row.data.oneTimeDiscount }}
                          </span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td appResponsiveColumn="200" *ngIf="isAccountManager">
                      <span class="non-editing-only p-column-title">{{
                        'AccountingModule::Row:PermanentDiscount'
                          | abpLocalization
                      }}</span>
                      <p-cellEditor>
                        <ng-template #input>
                          <div class="p-float-label">
                            <p-inputNumber
                              id="permanentDiscount-input"
                              [style]="{ width: '100%' }"
                              [inputStyle]="{ width: '100%' }"
                              [step]="0.1"
                              [min]="0.1"
                              [max]="1e6"
                              [showButtons]="true"
                              [(ngModel)]="row.data.permanentDiscount"
                              mode="decimal"
                              [minFractionDigits]="0"
                              [maxFractionDigits]="1"
                            ></p-inputNumber>
                            <label
                              class="editing-only small-width-only"
                              for="permanentDiscount-input"
                            >
                              {{
                                'AccountingModule::Row:PermanentDiscount'
                                  | abpLocalization
                              }}</label
                            >
                          </div>
                        </ng-template>
                        <ng-template #output>
                          <span class="column-content">
                            {{ row.data.permanentDiscount }}
                          </span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td appResponsiveColumn="150" *ngIf="isAccountManager">
                      <span class="non-editing-only p-column-title">{{
                        'AccountingModule::Row:AutoRenewal' | abpLocalization
                      }}</span>
                      <p-cellEditor>
                        <ng-template #input>
                          <div class="text-center">
                            <p-checkbox
                              [binary]="true"
                              [(ngModel)]="row.data.autoRenewal"
                              [disabled]="loading"
                              id="autoRenewal-input"
                            >
                            </p-checkbox>
                            <label
                              class="editing-only small-width-only"
                              for="autoRenewal-input"
                            >
                              {{
                                'AccountingModule::Row:AutoRenewal'
                                  | abpLocalization
                              }}</label
                            >
                          </div>
                        </ng-template>
                        <ng-template #output>
                          <span class="column-content">
                            <p-checkbox
                              [binary]="true"
                              [(ngModel)]="row.data.autoRenewal"
                              [disabled]="true"
                              id="autoRenewal-input"
                            >
                            </p-checkbox>
                          </span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td appResponsiveColumn="150">
                      <span class="non-editing-only p-column-title">
                        {{
                          'AccountingModule::Row:LinkedMembers'
                            | abpLocalization
                        }}
                      </span>
                      <span class="column-content">
                        <div
                          class="flex align-item-center justify-content-center"
                        >
                          <span class="mr-2">{{
                            getLinkedMembersDisplay(row)
                          }}</span>
                        </div>
                      </span>
                    </td>
                    <!-- <td appResponsiveColumn="200">
                        <span class="non-editing-only p-column-title">
                          {{'AccountingModule::Row:Price' | abpLocalization}}
                        </span>
                        <span class="column-content">
                          - {{tmpCurrency}}/{{getBillingPeriodTypeName(row.data.billingPeriodType) ||
                          ''}}
                        </span>
                      </td> -->
                    <td
                      appResponsiveColumn="110"
                      class="grid-buttons"
                      [alignFrozen]="direction"
                      pFrozenColumn
                    >
                      <div *ngIf="!editing"
                        class="flex gap-2">
                        <i
                          (click)="editRow(row)"
                          class="fa fa-edit"
                          [pTooltip]="
                            'AccountingModule::Tooltip:EditAccountPackage'
                              | abpLocalization
                          "
                        ></i>
                        <i
                          (click)="removeRow(rowIndex)"
                          class="fa fa-trash" style="color: var(--danger-color)"
                          [pTooltip]="
                            'AccountingModule::Tooltip:RemoveAccountPackage'
                              | abpLocalization
                          "
                        ></i>
                        <i
                          (click)="addRow()"
                          class="fa fa-plus" style="color: #22c55e;"
                          [pTooltip]="
                            'AccountingModule::Tooltip:AddAccountPackageRow'
                              | abpLocalization
                          "
                        ></i>
                      </div>
                      <div *ngIf="editing"
                        class="flex gap-2">
                        <i
                          (click)="openMemberSelectionDialog(row)"
                          class="fa fa-users"
                          [pTooltip]="
                            'AccountingModule::Tooltip:SelectLinkedMembers'
                              | abpLocalization
                          "
                        ></i>
                        <i
                          (click)="saveEditedRow(row, accountPackageRow)"
                          [pTooltip]="
                            'AccountingModule::Tooltip:SaveAccountPackageRow'
                              | abpLocalization
                          "
                          style="color: #22c55e;"
                          class="fa fa-check"
                        ></i>
                        <i
                          (click)="cancelRowEditing(row, rowIndex)"
                          class="fa fa-ban"
                          style="color: var(--danger-color)"
                          [pTooltip]="
                            'AccountingModule::Tooltip:CancelAccountPackageRowEditing'
                              | abpLocalization
                          "
                        ></i>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr class="table-emptymessage">
                    <td
                      class="w-full"
                      [attr.colspan]="isAccountManager ? 9 : 6"
                    >
                      <div class="card w-full">
                        <div class="card-body w-full">
                          <div class="card-header">
                            {{
                              'AccountingModule::NoAccountPackages'
                                | abpLocalization
                            }}
                          </div>
                          <div
                            class="flex align-item-center justify-content-center"
                          >
                            <button
                              (click)="addRow()"
                              pButton
                              [pTooltip]="
                                'AccountingModule::Tooltip:AddAccountPackageRow'
                                  | abpLocalization
                              "
                              icon="fa fa-plus"
                              [disabled]="loading"
                              class="small-width-only p-button-outlined p-button-rounded"
                              iconPos="left"
                            ></button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </ng-template>
          </div>
          </p-tabpanel>
          <p-tabpanel [value]="1">
            <div #billingInfoCard class="grid">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">
                      {{ 'AccountingModule::BillingInformation' | abpLocalization }}
                    </h5>
                    <div class="grid m-0">
                      <div
                        class="field pr-only"
                        [ngClass]="
                          billingInfoCard.offsetWidth < viewportBreakpoints.md
                            ? 'col-12'
                            : 'sm:col-4'
                        "
                      >
                        <label appRequired>{{
                          'AccountingModule::Account:Header:CompanyName' | abpLocalization
                        }}</label>
                        <input
                          [(ngModel)]="header.data.billingInformation.companyName"
                          (change)="resetBillingValidators()"
                          [disabled]="loading"
                          type="text"
                          pInputText
                          [ngClass]="{ 'ng-invalid ng-dirty': header.billingInfoValidators.companyEmpty }"
                          [style]="{ width: '100%' }"
                        />
                      </div>
                      <div
                        class="field pr-only"
                        [ngClass]="
                          billingInfoCard.offsetWidth < viewportBreakpoints.md
                            ? 'col-12'
                            : 'sm:col-4'
                        "
                      >
                        <label appRequired>{{
                          'AccountingModule::Account:Header:CompanyCID' | abpLocalization
                        }}</label>
                        <input
                          [(ngModel)]="header.data.billingInformation.companyCID"
                          (change)="resetBillingValidators()"
                          [disabled]="loading"
                          type="text"
                          pInputText
                          [ngClass]="{ 'ng-invalid ng-dirty': header.billingInfoValidators.companyCIDEmpty }"
                          [style]="{ width: '100%' }"
                        />
                      </div>
                      <div
                        class="field pr-only"
                        [ngClass]="
                          billingInfoCard.offsetWidth < viewportBreakpoints.md
                            ? 'col-12'
                            : 'sm:col-4'
                        "
                      >
                        <label appRequired>{{
                          'AccountingModule::Account:Header:PaymentMethod' | abpLocalization
                        }}</label>
                        <p-select
                          [options]="localizedPaymentMethods"
                          [(ngModel)]="header.data.billingInformation.paymentMethod"
                          optionValue="method"
                          optionLabel="name"
                          [filter]="false"
                          autoWidth="false"
                          [style]="{ width: '100%' }"
                          [ngClass]="{ 'ng-invalid ng-dirty': header.billingInfoValidators.paymentMethodNotSelected }"
                          (onChange)="resetBillingValidators()"
                          [disabled]="loading"
                        >
                        </p-select>
                      </div>
                      <div
                        class="field pr-only"
                        [ngClass]="
                          billingInfoCard.offsetWidth < viewportBreakpoints.md
                            ? 'col-12'
                            : 'sm:col-4'
                        "
                      >
                        <label appRequired>{{
                          'AccountingModule::Account:Header:ContactPersonName' | abpLocalization
                        }}</label>
                        <input
                          [(ngModel)]="header.data.billingInformation.contactPersonName"
                          (change)="resetBillingValidators()"
                          [disabled]="loading"
                          type="text"
                          pInputText
                          [ngClass]="{ 'ng-invalid ng-dirty': header.billingInfoValidators.contactPersonNameEmpty }"
                          [style]="{ width: '100%' }"
                        />
                      </div>
                      <div
                        class="field pr-only"
                        [ngClass]="
                          billingInfoCard.offsetWidth < viewportBreakpoints.md
                            ? 'col-12'
                            : 'sm:col-4'
                        "
                      >
                        <label appRequired>{{
                          'AccountingModule::Account:Header:ContactPersonEmail' | abpLocalization
                        }}</label>
                        <input
                          [(ngModel)]="header.data.billingInformation.contactPersonEmail"
                          (change)="resetBillingValidators()"
                          [disabled]="loading"
                          type="text"
                          pInputText
                          [ngClass]="{ 'ng-invalid ng-dirty': header.billingInfoValidators.contactPersonEmailEmpty }"
                          [style]="{ width: '100%' }"
                        />
                      </div>
                      <div
                        class="field pr-only"
                        [ngClass]="
                          billingInfoCard.offsetWidth < viewportBreakpoints.md
                            ? 'col-12'
                            : 'sm:col-4'
                        "
                      >
                        <label appRequired>{{
                          'AccountingModule::Account:Header:ContactPersonTelephone' | abpLocalization
                        }}</label>
                        <input
                          [(ngModel)]="header.data.billingInformation.contactPersonTelephone"
                          (change)="resetBillingValidators()"
                          [disabled]="loading"
                          type="text"
                          pInputText
                          [ngClass]="{ 'ng-invalid ng-dirty': header.billingInfoValidators.contactPersonTelephoneEmpty }"
                          [style]="{ width: '100%' }"
                        />
                      </div>
                      <div
                        class="field pr-only"
                        [ngClass]="
                          billingInfoCard.offsetWidth < viewportBreakpoints.md
                            ? 'col-12'
                            : 'sm:col-4'
                        "
                      >
                        <label appRequired>{{
                          'AccountingModule::Account:Header:BillingAddressLine1' | abpLocalization
                        }}</label>
                        <input
                          [(ngModel)]="header.data.billingInformation.billingAddressLine1"
                          (change)="resetBillingValidators()"
                          [disabled]="loading"
                          type="text"
                          pInputText
                          [ngClass]="{ 'ng-invalid ng-dirty': header.billingInfoValidators.billingAddressLine1Empty }"
                          [style]="{ width: '100%' }"
                        />
                      </div>
                      <div
                        class="field pr-only"
                        [ngClass]="
                          billingInfoCard.offsetWidth < viewportBreakpoints.md
                            ? 'col-12'
                            : 'sm:col-4'
                        "
                      >
                        <label>{{
                          'AccountingModule::Account:Header:BillingAddressLine2' | abpLocalization
                        }}</label>
                        <input
                          [(ngModel)]="header.data.billingInformation.billingAddressLine2"
                          [disabled]="loading"
                          type="text"
                          pInputText
                          [style]="{ width: '100%' }"
                        />
                      </div>
                      <div
                        class="field pr-only"
                        [ngClass]="
                          billingInfoCard.offsetWidth < viewportBreakpoints.md
                            ? 'col-12'
                            : 'sm:col-4'
                        "
                      >
                        <label appRequired>{{
                          'AccountingModule::Account:Header:Country' | abpLocalization
                        }}</label>
                        <input
                          [(ngModel)]="header.data.billingInformation.country"
                          (change)="resetBillingValidators()"
                          [disabled]="loading"
                          type="text"
                          pInputText
                          [ngClass]="{ 'ng-invalid ng-dirty': header.billingInfoValidators.countryEmpty }"
                          [style]="{ width: '100%' }"
                        />
                      </div>
                      <div
                        class="field pr-only"
                        [ngClass]="
                          billingInfoCard.offsetWidth < viewportBreakpoints.md
                            ? 'col-12'
                            : 'sm:col-4'
                        "
                      >
                        <label appRequired>{{
                          'AccountingModule::Account:Header:City' | abpLocalization
                        }}</label>
                        <input
                          [(ngModel)]="header.data.billingInformation.city"
                          (change)="resetBillingValidators()"
                          [disabled]="loading"
                          type="text"
                          pInputText
                          [ngClass]="{ 'ng-invalid ng-dirty': header.billingInfoValidators.cityEmpty }"
                          [style]="{ width: '100%' }"
                        />
                      </div>
                      <div
                        class="field pr-only"
                        [ngClass]="
                          billingInfoCard.offsetWidth < viewportBreakpoints.md
                            ? 'col-12'
                            : 'sm:col-4'
                        "
                      >
                        <label appRequired>{{
                          'AccountingModule::Account:Header:StateOrProvince' | abpLocalization
                        }}</label>
                        <input
                          [(ngModel)]="header.data.billingInformation.stateOrProvince"
                          (change)="resetBillingValidators()"
                          [disabled]="loading"
                          type="text"
                          pInputText
                          [ngClass]="{ 'ng-invalid ng-dirty': header.billingInfoValidators.stateOrProvinceEmpty }"
                          [style]="{ width: '100%' }"
                        />
                      </div>
                      <div
                        class="field pr-only"
                        [ngClass]="
                          billingInfoCard.offsetWidth < viewportBreakpoints.md
                            ? 'col-12'
                            : 'sm:col-4'
                        "
                      >
                        <label appRequired>{{
                          'AccountingModule::Account:Header:PostalCode' | abpLocalization
                        }}</label>
                        <input
                          [(ngModel)]="header.data.billingInformation.postalCode"
                          (change)="resetBillingValidators()"
                          [disabled]="loading"
                          type="text"
                          pInputText
                          [ngClass]="{ 'ng-invalid ng-dirty': header.billingInfoValidators.postalCodeEmpty }"
                          [style]="{ width: '100%' }"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-tabpanel>
          <p-tabpanel [value]="2">
            <div>
            <ng-template
              appResponsiveTable="md"
              let-scrollable
              let-breakpoint="breakpoint"
              let-direction="direction"
            >
              <p-table
                [scrollable]="scrollable"
                [responsive]="true"
                responsiveLayout="stack"
                [breakpoint]="breakpoint"
                scrollDirection="both"
                [value]="members"
                dataKey="id"
                [loading]="loading"
                [paginator]="false"
              >
                <ng-template pTemplate="header">
                  <tr class="table-header w-full">
                    <th>
                      {{ 'AccountingModule::Row:MemberType' | abpLocalization }}
                    </th>
                    <th>
                      {{ 'AccountingModule::Row:RefId' | abpLocalization }}
                    </th>
                    <th
                      appResponsiveColumn="110"
                      [alignFrozen]="direction"
                      pFrozenColumn
                    >
                    <div class="flex justify-content-end">
                      <p-button
                        icon="fa fa-plus"
                        (click)="addMember()"
                        [disabled]="loading"
                        autoWidth="false"
                        [text]="true"
                        [raised]="true"
                        iconPos="left"
                        styleClass="p-button-info p-button-sm"
                        [label]="'AccountingModule::Add' | abpLocalization"
                      >
                      </p-button>
                    </div>
                    </th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-member
                  let-rowIndex="rowIndex"
                >
                  <tr>
                    <td>
                      <span class="non-editing-only p-column-title">{{
                        'AccountingModule::Row:MemberType' | abpLocalization
                      }}</span>
                      <span class="column-content">
                        {{ getMemberTypeName(member.type) || '-' }}
                      </span>
                    </td>
                    <td>
                      <span class="non-editing-only p-column-title">{{
                        'AccountingModule::Row:RefId' | abpLocalization
                      }}</span>
                      <span class="column-content">
                        {{ member.refId || '-' }}
                      </span>
                    </td>
                    <td
                      class="row-buttons"
                      [alignFrozen]="direction"
                      pFrozenColumn
                    >
                    <div class="flex gap-2 justify-content-end">
                      <i
                        (click)="editMember(member)"
                        class="fa fa-edit mr-1"
                        [pTooltip]="
                          'AccountingModule::Tooltip:EditMember'
                            | abpLocalization
                        "
                      ></i>
                      <i
                        (click)="removeMember(rowIndex)"
                        class="fa fa-trash" style="color: red"
                        [pTooltip]="
                          'AccountingModule::Tooltip:RemoveMember'
                            | abpLocalization
                        "
                    
                      ></i>
                      <i
                        (click)="addMember()"
                        class="fa fa-plus" style="color: #22c55e;"
                        [pTooltip]="
                          'AccountingModule::Tooltip:AddMember'
                            | abpLocalization
                        "
                      ></i>
                    </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr class="table-emptymessage">
                    <td class="w-full" colspan="3">
                      <div class="card w-full">
                        <div class="card-body w-full">
                          <div class="card-header">
                            {{
                              'AccountingModule::NoMembers' | abpLocalization
                            }}
                          </div>
                          <div
                            class="flex align-item-center justify-content-center"
                          >
                            <button
                              (click)="addMember()"
                              pButton
                              [pTooltip]="
                                'AccountingModule::Tooltip:AddMember'
                                  | abpLocalization
                              "
                              icon="fa fa-plus" style="color: #22c55e;"
                              [disabled]="loading"
                              class="small-width-only p-button-outlined p-button-rounded"
                              iconPos="left"
                            ></button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </ng-template>
          </div>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
  </div>

  <app-member-create
    [(display)]="showMemberDialog"
    [memberData]="editingMember"
    (saveEvent)="onMemberDialogSave($event)"
  >
  </app-member-create>

  <app-member-selection-dialog
    [(display)]="showMemberSelectionDialog"
    [members]="members"
    [selectedMembers]="currentPackageRow?.data?.linkedMembers || []"
    (selectEvent)="onMemberSelectionSave($event)"
  >
  </app-member-selection-dialog>
</div>