<app-page-title [title]="title" icon="fas fa-user-alt"> </app-page-title>
<div class="content" *ngIf="header?.data?.id">
  <div #generalDetailsCard class="grid">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ 'AccountingModule::HeaderTitle' | abpLocalization }}
          </h5>
          <div class="grid m-0">
            <div
              class="field pr-only"
              [ngClass]="
                generalDetailsCard.offsetWidth < viewportBreakpoints.md
                  ? 'col-12'
                  : 'sm:col-4'
              "
            >
              <label appRequired>{{
                'AccountingModule::Header:AccountName' | abpLocalization
              }}</label>
              <input
                [(ngModel)]="header.data.accountName"
                (change)="resetValidators()"
                [disabled]="loading"
                type="text"
                pInputText
                [ngClass]="{ 'ng-invalid ng-dirty': header.nameEmpty }"
                [style]="{ width: '100%' }"
                maxlength="230"
              />
            </div>
            <div
              class="field pr-only"
              [ngClass]="
                generalDetailsCard.offsetWidth < viewportBreakpoints.md
                  ? 'col-12'
                  : 'sm:col-4'
              "
            >
              <label appRequired>{{
                'AccountingModule::Header:Owner' | abpLocalization
              }}</label>
              <ng-template #beforeOwnerButton>
                <input
                  class="no-select flex-1"
                  (change)="resetRowValidators(row)"
                  inputId="module-input"
                  [value]="header.owner?.name || ''"
                  type="text"
                  pInputText
                  [disabled]="true"
                  placeholder="{{
                    'AccountingModule::Header:Owner:Placeholder'
                      | abpLocalization
                  }}"
                />
              </ng-template>
              <app-user-selection-multi
                [isMultiple]="false"
                [beforeButton]="beforeOwnerButton"
                (selectionEvent)="onOwnerSelected($event)"
                [ignoredUsers]="[]"
              >
              </app-user-selection-multi>
                [ngClass]="generalDetailsCard.offsetWidth < viewportBreakpoints.md ? 'col-12' : 'sm:col-4'">
                <label appRequired>{{'AccountingModule::Header:AdminPassword' | abpLocalization}}</label>
                <div class="flex align-items-center grid">
                  <div class="col-11 px-1">
                    <p-password [(ngModel)]="header.data.adminPassword" (change)="resetValidators();"
                      [disabled]="loading" [ngClass]="{'ng-invalid ng-dirty': header.adminPasswordEmpty}"
                      [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full" autocomplete="one-time-code"
                      [inputStyle]="{'margin-left':'2%'}">
                      <ng-template pTemplate="header">
                        <h6>{{'AccountingModule::PickPassword' | abpLocalization}}</h6>
                      </ng-template>
                      <ng-template pTemplate="footer">
                        <p-divider></p-divider>
                        <p class="mt-2">{{'AccountingModule::Suggestions' | abpLocalization}}</p>
                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                          <li>{{'AccountingModule::AtLeastOneLowercase' | abpLocalization}}</li>
                          <li>{{'AccountingModule::AtLeastOneUppercase' | abpLocalization}}</li>
                          <li>{{'AccountingModule::AtLeastOneNumeric' | abpLocalization}}</li>
                          <li>{{'AccountingModule::AtLeastOneSymbol' | abpLocalization}}</li>
                          <li>{{'AccountingModule::MinimumCharactersForPsw' | abpLocalization}}</li>
                        </ul>
                      </ng-template>
                    </p-password>
                  </div>
                  <div class="col-1 text-center">
                    <span (click)="generatePassword()"
                      [pTooltip]="'AccountingModule::Tooltip:GeneratePassword' | abpLocalization"
                      tooltipPosition="bottom">
                      <i class="fas fa-unlock-alt" style="color: grey; font-size: large;"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="field pr-only"
                [ngClass]="generalDetailsCard.offsetWidth < viewportBreakpoints.md ? 'col-12' : 'sm:col-4'">
                <label>{{'AccountingModule::Header:ResellerType' | abpLocalization}}</label>
                <div class="flex">
                  <p-select [options]="localizedResellerTypes" class="w-full" [(ngModel)]="header.data.resellerType"
                    appendTo="body" (onChange)="resetValidators(); resellerTypeChange()" optionValue="type"
                    optionLabel="name" [filter]="false" autoWidth="false" [style]="{'width':'100%'}">
                  </p-select>
                </div>
              </div>
              <div class="field pr-only"
                [ngClass]="generalDetailsCard.offsetWidth < viewportBreakpoints.md ? 'col-12' : 'sm:col-4'">
                <label>{{'AccountingModule::Header:ResellerRef' | abpLocalization}}</label>
                <div class="p-float-label">
                  <ng-template #beforeResellerButton>
                    <input class="no-select flex-1" #beforeResellerButton [value]="header?.data.resellerRefName"
                      type="text" [ngClass]="{'ng-invalid ng-dirty': header?.currencyNotSelected}" pInputText
                      [readonly]="true" placeholder="{{ 'AccountingModule::SelectReseller' | abpLocalization }}" />
                  </ng-template>
                  <app-account-selection-dialog [style]="{'width':'100%'}" [beforeButton]="beforeResellerButton"
                    (selectEvent)="onResellerChange($event)" icon="fa fa-list">
                  </app-account-selection-dialog>
                </div>
              </div>
              <div class="field pr-only"
                [ngClass]="generalDetailsCard.offsetWidth < viewportBreakpoints.md ? 'col-12' : 'sm:col-4'">
                <label>{{'AccountingModule::Header:AccountCurrency' | abpLocalization}}</label>
                <div class="p-float-label">
                  <p-select [(ngModel)]="header.data.accountCurrency" [options]="currencies"
                    [style]="{'width':'100%'}" appendTo="body" [disabled]="isResellerModule() || loading"
                    optionValue="value" optionLabel="name">
                  </p-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="col-12">
            <!-- <app-user-fields #headerUfs *ngIf="header?.data?.id" [documentObjectType]="documentObjectType"
              [auditDocumentObjectType]="documentObjectType" [(version)]="header.data.documentVersionEntity"
              [alwaysEditable]="true" [documentId]="header.data.id"></app-user-fields> -->
          </div>
        </div>
      </div>
    </div>
    <div #generalDetailsCard class="grid" *ngIf="isResellerModule()">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ 'AccountingModule::HeaderTitle' | abpLocalization }}</h5>
            <div class="grid">
              <div class="field pr-only"
                [ngClass]="generalDetailsCard.offsetWidth < viewportBreakpoints.md ? 'col-12' : 'sm:col-4'">
                <label appRequired>{{'AccountingModule::Header:AccountName' | abpLocalization}}</label>
                <input [(ngModel)]="header.data.accountName" (change)="resetValidators();" [disabled]="loading"
                  type="text" pInputText [ngClass]="{'ng-invalid ng-dirty': header.nameEmpty}" />
            </div>
              <div class="field pr-only"
                [ngClass]="generalDetailsCard.offsetWidth < viewportBreakpoints.md ? 'col-12' : 'sm:col-4'">
                <label appRequired>{{'AccountingModule::Header:AccountNameEng' | abpLocalization}}</label>
                <input [(ngModel)]="header.data.accountNameEng" (change)="resetValidators();" [disabled]="loading"
                  type="text" pInputText [ngClass]="{'ng-invalid ng-dirty': header.nameEngEmpty}"
                  [style]="{'width':'100%'}" maxlength="230" (input)="onInputChange($event)" />
              </div>
              <div class="field pr-only"
                [ngClass]="generalDetailsCard.offsetWidth < viewportBreakpoints.md ? 'col-12' : 'sm:col-4'">
                <label appRequired>{{'AccountingModule::Header:AccountType' | abpLocalization}}</label>
                <p-select [options]="localizedAccountTypes" [(ngModel)]="header.data.type" appendTo="body"
                  (onChange)="resetValidators();onAccountTypeChange($event)" optionValue="type" optionLabel="name"
                  [filter]="false" autoWidth="false" [style]="{'width':'100%'}">
                </p-select>
              </div>
              <div class="field pr-only"
                [ngClass]="generalDetailsCard.offsetWidth < viewportBreakpoints.md ? 'col-12' : 'sm:col-4'">
                <label appRequired>{{'AccountingModule::Header:AdminUserName' | abpLocalization}}</label>
                <input [(ngModel)]="header.data.adminUserName" (change)="resetValidators();"
                  (input)="validateAdminUserName()" [disabled]="loading" type="text" pInputText
                  [ngClass]="{'ng-invalid ng-dirty': header.adminUserNameEmpty}" [style]="{'width':'100%'}"
                  maxlength="230" />
              </div>
              <div class="field pr-only"
                [ngClass]="generalDetailsCard.offsetWidth < viewportBreakpoints.md ? 'col-12' : 'sm:col-4'">
                <label appRequired>{{'AccountingModule::Header:AdminEmail' | abpLocalization}}</label>
                <input [(ngModel)]="header.data.adminEmail" (change)="resetValidators();" (input)="validateEmail()"
                  [disabled]="loading" type="text" pInputText
                  [ngClass]="{'ng-invalid ng-dirty': header.adminEmailEmpty}" [style]="{'width':'100%'}"
                  maxlength="230" />
              </div>
              <div class="field pr-only"
                [ngClass]="generalDetailsCard.offsetWidth < viewportBreakpoints.md ? 'col-12' : 'sm:col-4'">
                <label appRequired>{{'AccountingModule::Header:AdminPassword' | abpLocalization}}</label>
                <div class="flex align-items-center grid">
                  <div class="col-11 px-1">
                    <p-password [(ngModel)]="header.data.adminPassword" (change)="resetValidators();"
                      [disabled]="loading" [ngClass]="{'ng-invalid ng-dirty': header.adminPasswordEmpty}"
                      [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full"
                      [inputStyle]="{'margin-left':'2%'}">
                      <ng-template pTemplate="header">
                        <h6>{{'AccountingModule::PickPassword' | abpLocalization}}</h6>
                      </ng-template>
                      <ng-template pTemplate="footer">
                        <p-divider></p-divider>
                        <p class="mt-2">{{'AccountingModule::Suggestions' | abpLocalization}}</p>
                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                          <li>{{'AccountingModule::AtLeastOneLowercase' | abpLocalization}}</li>
                          <li>{{'AccountingModule::AtLeastOneUppercase' | abpLocalization}}</li>
                          <li>{{'AccountingModule::AtLeastOneNumeric' | abpLocalization}}</li>
                          <li>{{'AccountingModule::AtLeastOneSymbol' | abpLocalization}}</li>
                          <li>{{'AccountingModule::MinimumCharactersForPsw' | abpLocalization}}</li>
                        </ul>
                      </ng-template>
                    </p-password>
                  </div>
                  <div class="col-1 text-center">
                    <span (click)="generatePassword()"
                      [pTooltip]="'AccountingModule::Tooltip:GeneratePassword' | abpLocalization"
                      tooltipPosition="bottom">
                      <i class="fas fa-unlock-alt" style="color: grey; font-size: large;"></i>
                    </span>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #rowsCard class="card table-card">
    <div class="card-body">
      <p-tabs [scrollable]="false" [(activeIndex)]="activeTabIndex">
        <p-tablist>
            <p-tab value="0">
              <span
                pBadge
                severity="warning"
                class="pr-2"
                [value]="getRowsLength()"
                [badgeDisabled]="getRowsLength() === 0"
              >
                {{ 'AccountingModule::Subscriptions' | abpLocalization }}
              </span>
            </p-tab>
            <p-tab value="1">
              <span class="pr-2">
                {{ 'AccountingModule::BillingInformation' | abpLocalization }}
              </span>
            </p-tab>
            <p-tab value="2">
              <span
                pBadge
                severity="info"
                class="pr-2"
                [value]="getMembersLength()"
                [badgeDisabled]="getMembersLength() === 0"
              >
                {{ 'AccountingModule::Members' | abpLocalization }}
              </span>
            </p-tab>
          </p-tablist>
        <p-tabpanels>
          <p-tabpanel>
          <div>
            <ng-template
              appResponsiveTable="md"
              let-scrollable
              let-breakpoint="breakpoint"
              let-direction="direction"
              (render)="ensureRowEditing()"
            >
              <p-table
                #accountPackagesTable
                [scrollable]="scrollable"
                [responsive]="true"
                responsiveLayout="stack"
                [breakpoint]="breakpoint"
                scrollDirection="both"
                class="cell-center"
                [value]="header.rows"
                dataKey="rowUniqueId"
                editMode="row"
                [loading]="loading"
                [paginator]="false"
              >
                <ng-template pTemplate="header">
                  <tr class="table-header w-full">
                    <!-- <th style="width:1%; max-width: 50px; min-width: 50px;"></th> -->
                    <th>
                      {{
                        'AccountingModule::Row:PackageTemplate'
                          | abpLocalization
                      }}
                    </th>
                    <th appResponsiveColumn="200" *ngIf="isAccountManager">
                      {{
                        'AccountingModule::Row:BillingPeriodType'
                          | abpLocalization
                      }}
                    </th>
                    <th appResponsiveColumn="200" *ngIf="isAccountManager">
                      {{
                        'AccountingModule::Row:OneTimeDiscount'
                          | abpLocalization
                      }}
                    </th>
                    <th appResponsiveColumn="200" *ngIf="isAccountManager">
                      {{
                        'AccountingModule::Row:PermanentDiscount'
                          | abpLocalization
                      }}
                    </th>
                    <th appResponsiveColumn="150" *ngIf="isAccountManager">
                      {{
                        'AccountingModule::Row:AutoRenewal' | abpLocalization
                      }}
                    </th>
                    <th appResponsiveColumn="150">
                      {{
                        'AccountingModule::Row:LinkedMembers' | abpLocalization
                      }}
                    </th>
                    <!-- <th appResponsiveColumn="200">{{'AccountingModule::Row:Price' | abpLocalization}}</th> -->
                    <th
                      appResponsiveColumn="110"
                      [alignFrozen]="direction"
                      pFrozenColumn
                    >
                      <p-button
                        icon="fa fa-plus"
                        (click)="addRow()"
                        [disabled]="loading"
                        autoWidth="false"
                        [text]="true"
                        [raised]="true"
                        iconPos="left"
                        styleClass="p-button-info p-button-sm"
                        [label]="'AccountingModule::Add' | abpLocalization"
                      >
                      </p-button>
                    </th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-row
                  let-editing="editing"
                  let-rowIndex="rowIndex"
                >
                  <tr
                    #accountPackageRow
                    [pEditableRow]="row"
                    [ngClass]="{ editing: editing }"
                  >
                    <!-- <td style="width:1%; max-width: 50px; min-width: 50px;">
                        <button type="button" pButton pRipple [pRowToggler]="row"
                          class="p-button-text p-button-rounded p-button-plain"
                          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                        </button>
                      </td> -->
                    <td>
                      <span class="non-editing-only p-column-title"
                        >{{
                          'AccountingModule::Row:PackageTemplate'
                            | abpLocalization
                        }}
                      </span>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <div class="p-float-label">
                            <ng-template #beforeAreaButton>
                              <input
                                [ngClass]="{
                                  'ng-invalid ng-dirty':
                                    header?.templateNotSelected
                                }"
                                class="no-select flex-1"
                                (change)="resetRowValidators(row)"
                                inputId="module-input"
                                [value]="row.data.name ?? '-'"
                                type="text"
                                pInputText
                                [disabled]="true"
                                placeholder="{{
                                  'AccountingModule::TemplateSelection'
                                    | abpLocalization
                                }}"
                              />
                            </ng-template>
                            <app-package-template-selection-dialog
                              [style]="{ width: '100%' }"
                              icon="fa fa-list"
                              (selectEvent)="
                                onAccountPackageChange($event, row)
                              "
                              [beforeButton]="beforeAreaButton"
                            >
                            </app-package-template-selection-dialog>
                            <label
                              class="editing-only small-width-only"
                              for="module-input"
                              >{{
                                'AccountingModule::Row:PackageTemplate'
                                  | abpLocalization
                              }}</label
                            >
                          </div>
                        </ng-template>
                        <ng-template pTemplate="output">
                          <span class="column-content">
                            {{ row.data.name ?? '-' }}
                          </span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td appResponsiveColumn="200" *ngIf="isAccountManager">
                      <span class="non-editing-only p-column-title">{{
                        'AccountingModule::Row:BillingPeriodType'
                          | abpLocalization
                      }}</span>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <div class="p-float-label">
                            <p-select
                              [options]="localizedBillingPeriodTypes"
                              [(ngModel)]="row.data.billingPeriodType"
                              appendTo="body"
                              class="w-full"
                              optionValue="value"
                              optionLabel="name"
                              [filter]="false"
                              autoWidth="false"
                              [style]="{ width: '100%' }"
                              id="billingPeriodType-input"
                            >
                            </p-select>
                            <label
                              class="editing-only small-width-only"
                              for="billingPeriodType-input"
                            >
                              {{
                                'AccountingModule::Row:BillingPeriodType'
                                  | abpLocalization
                              }}</label
                            >
                          </div>
                        </ng-template>
                        <ng-template pTemplate="output">
                          <span class="column-content">
                            {{
                              getBillingPeriodTypeName(
                                row.data.billingPeriodType
                              )
                            }}
                          </span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td appResponsiveColumn="200" *ngIf="isAccountManager">
                      <span class="non-editing-only p-column-title">{{
                        'AccountingModule::Row:OneTimeDiscount'
                          | abpLocalization
                      }}</span>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <div class="p-float-label">
                            <p-inputNumber
                              id="oneTimeDiscount-input"
                              [style]="{ width: '100%' }"
                              [inputStyle]="{ width: '100%' }"
                              [step]="0.1"
                              [min]="0.1"
                              [max]="1e6"
                              [showButtons]="true"
                              [(ngModel)]="row.data.oneTimeDiscount"
                              mode="decimal"
                              [minFractionDigits]="0"
                              [maxFractionDigits]="1"
                            ></p-inputNumber>
                            <label
                              class="editing-only small-width-only"
                              for="oneTimeDiscount-input"
                            >
                              {{
                                'AccountingModule::Row:OneTimeDiscount'
                                  | abpLocalization
                              }}</label
                            >
                          </div>
                        </ng-template>
                        <ng-template pTemplate="output">
                          <span class="column-content">
                            {{ row.data.oneTimeDiscount }}
                          </span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td appResponsiveColumn="200" *ngIf="isAccountManager">
                      <span class="non-editing-only p-column-title">{{
                        'AccountingModule::Row:PermanentDiscount'
                          | abpLocalization
                      }}</span>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <div class="p-float-label">
                            <p-inputNumber
                              id="permanentDiscount-input"
                              [style]="{ width: '100%' }"
                              [inputStyle]="{ width: '100%' }"
                              [step]="0.1"
                              [min]="0.1"
                              [max]="1e6"
                              [showButtons]="true"
                              [(ngModel)]="row.data.permanentDiscount"
                              mode="decimal"
                              [minFractionDigits]="0"
                              [maxFractionDigits]="1"
                            ></p-inputNumber>
                            <label
                              class="editing-only small-width-only"
                              for="permanentDiscount-input"
                            >
                              {{
                                'AccountingModule::Row:PermanentDiscount'
                                  | abpLocalization
                              }}</label
                            >
                          </div>
                        </ng-template>
                        <ng-template pTemplate="output">
                          <span class="column-content">
                            {{ row.data.permanentDiscount }}
                          </span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td appResponsiveColumn="150" *ngIf="isAccountManager">
                      <span class="non-editing-only p-column-title">{{
                        'AccountingModule::Row:AutoRenewal' | abpLocalization
                      }}</span>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <div class="text-center">
                            <p-checkbox
                              [binary]="true"
                              [(ngModel)]="row.data.autoRenewal"
                              [disabled]="loading"
                              id="autoRenewal-input"
                            >
                            </p-checkbox>
                            <label
                              class="editing-only small-width-only"
                              for="autoRenewal-input"
                            >
                              {{
                                'AccountingModule::Row:AutoRenewal'
                                  | abpLocalization
                              }}</label
                            >
                          </div>
                        </ng-template>
                        <ng-template pTemplate="output">
                          <span class="column-content">
                            <p-checkbox
                              [binary]="true"
                              [(ngModel)]="row.data.autoRenewal"
                              [disabled]="true"
                              id="autoRenewal-input"
                            >
                            </p-checkbox>
                          </span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td appResponsiveColumn="150">
                      <span class="non-editing-only p-column-title">
                        {{
                          'AccountingModule::Row:LinkedMembers'
                            | abpLocalization
                        }}
                      </span>
                      <span class="column-content">
                        <div
                          class="flex align-item-center justify-content-center"
                        >
                          <span class="mr-2">{{
                            getLinkedMembersDisplay(row)
                          }}</span>
                        </div>
                      </span>
                    </td>
                    <!-- <td appResponsiveColumn="200">
                        <span class="non-editing-only p-column-title">
                          {{'AccountingModule::Row:Price' | abpLocalization}}
                        </span>
                        <span class="column-content">
                          - {{tmpCurrency}}/{{getBillingPeriodTypeName(row.data.billingPeriodType) ||
                          ''}}
                        </span>
                      </td> -->
                    <td
                      appResponsiveColumn="110"
                      class="grid-buttons"
                      [alignFrozen]="direction"
                      pFrozenColumn
                    >
                      <ng-container *ngIf="!editing">
                        <i
                          (click)="editRow(row)"
                          class="fa fa-edit"
                          [pTooltip]="
                            'AccountingModule::Tooltip:EditAccountPackage'
                              | abpLocalization
                          "
                        ></i>
                        <i
                          (click)="removeRow(rowIndex)"
                          class="fa fa-trash" style="color: red"
                          [pTooltip]="
                            'AccountingModule::Tooltip:RemoveAccountPackage'
                              | abpLocalization
                          "
                        ></i>
                        <i
                          (click)="addRow()"
                          class="fa fa-plus" style="color: #22c55e;"
                          [pTooltip]="
                            'AccountingModule::Tooltip:AddAccountPackageRow'
                              | abpLocalization
                          "
                        ></i>
                      </ng-container>
                      <ng-container *ngIf="editing">
                        <i
                          (click)="openMemberSelectionDialog(row)"
                          class="fa fa-users"
                          [pTooltip]="
                            'AccountingModule::Tooltip:SelectLinkedMembers'
                              | abpLocalization
                          "
                        ></i>
                        <i
                          (click)="saveEditedRow(row, accountPackageRow)"
                          [pTooltip]="
                            'AccountingModule::Tooltip:SaveAccountPackageRow'
                              | abpLocalization
                          "
                          class="fa fa-check"
                        ></i>
                        <i
                          (click)="cancelRowEditing(row, rowIndex)"
                          class="fa fa-ban"
                          [pTooltip]="
                            'AccountingModule::Tooltip:CancelAccountPackageRowEditing'
                              | abpLocalization
                          "
                        ></i>
                      </ng-container>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr class="table-emptymessage">
                    <td
                      class="w-full"
                      [attr.colspan]="isAccountManager ? 9 : 6"
                    >
                      <div class="card w-full">
                        <div class="card-body w-full">
                          <div class="card-header">
                            {{
                              'AccountingModule::NoAccountPackages'
                                | abpLocalization
                            }}
                          </div>
                          <div
                            class="flex align-item-center justify-content-center"
                          >
                            <button
                              (click)="addRow()"
                              pButton
                              [pTooltip]="
                                'AccountingModule::Tooltip:AddAccountPackageRow'
                                  | abpLocalization
                              "
                              icon="fa fa-plus"
                              [disabled]="loading"
                              class="small-width-only p-button-outlined p-button-rounded"
                              iconPos="left"
                            ></button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </ng-template>
          </div>
        </p-tabpanel>
        <p-tabpanel>
          <div class="card-body">
            <div class="grid">
              <div class="col-6">
                <div class="grid">
                  <div class="flex align-items-center col-12 mt-2">
                    <div class="grid w-full align-items-center">
                      <div class="col-4">
                        <span>
                          {{
                            'AccountingModule::Header:CompanyName'
                              | abpLocalization
                          }}
                        </span>
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          class="w-full"
                          [style]="{ width: '100%' }"
                          [(ngModel)]="
                            header.data.billingInformation.companyName
                          "
                          pInputText
                          [disabled]="loading"
                          [ngClass]="{
                            'ng-invalid ng-dirty':
                              header.billingInfoValidators.companyEmpty
                          }"
                          (change)="resetBillingValidators()"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="flex align-items-center col-12 mt-2">
                    <div class="grid w-full align-items-center">
                      <div class="col-4">
                        <span>
                          {{
                            'AccountingModule::Header:CompanyCID'
                              | abpLocalization
                          }}
                        </span>
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          class="w-full"
                          [style]="{ width: '100%' }"
                          [(ngModel)]="
                            header.data.billingInformation.companyCID
                          "
                          pInputText
                          [disabled]="loading"
                          [ngClass]="{
                            'ng-invalid ng-dirty':
                              header.billingInfoValidators.companyCIDEmpty
                          }"
                          (change)="resetBillingValidators()"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="flex align-items-center col-12 mt-2">
                    <div class="grid w-full align-items-center">
                      <div class="col-4">
                        <span>
                          {{
                            'AccountingModule::Header:PaymentMethod'
                              | abpLocalization
                          }}
                        </span>
                      </div>
                      <div class="col-8">
                        <p-select
                          [options]="localizedPaymentMethods"
                          [(ngModel)]="
                            header.data.billingInformation.paymentMethod
                          "
                          optionValue="method"
                          optionLabel="name"
                          [filter]="false"
                          autoWidth="false"
                          [style]="{ width: '100%' }"
                          [ngClass]="{
                            'ng-invalid ng-dirty':
                              header.billingInfoValidators
                                .paymentMethodNotSelected
                          }"
                          (onChange)="resetBillingValidators()"
                          [disabled]="loading"
                        >
                        </p-select>
                      </div>
                    </div>
                  </div>

                  <div class="flex align-items-center col-12 mt-2">
                    <div class="grid w-full align-items-center">
                      <div class="col-4">
                        <span>
                          {{
                            'AccountingModule::Header:ContactPersonName'
                              | abpLocalization
                          }}
                        </span>
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          class="w-full"
                          [style]="{ width: '100%' }"
                          [(ngModel)]="
                            header.data.billingInformation.contactPersonName
                          "
                          pInputText
                          [disabled]="loading"
                          [ngClass]="{
                            'ng-invalid ng-dirty':
                              header.billingInfoValidators
                                .contactPersonNameEmpty
                          }"
                          (change)="resetBillingValidators()"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="flex align-items-center col-12 mt-2">
                    <div class="grid w-full align-items-center">
                      <div class="col-4">
                        <span>
                          {{
                            'AccountingModule::Header:ContactPersonEmail'
                              | abpLocalization
                          }}
                        </span>
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          class="w-full"
                          [style]="{ width: '100%' }"
                          [(ngModel)]="
                            header.data.billingInformation.contactPersonEmail
                          "
                          pInputText
                          [disabled]="loading"
                          [ngClass]="{
                            'ng-invalid ng-dirty':
                              header.billingInfoValidators
                                .contactPersonEmailEmpty
                          }"
                          (change)="resetBillingValidators()"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="flex align-items-center col-12 mt-2">
                    <div class="grid w-full align-items-center">
                      <div class="col-4">
                        <span>
                          {{
                            'AccountingModule::Header:ContactPersonTelephone'
                              | abpLocalization
                          }}
                        </span>
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          class="w-full"
                          [style]="{ width: '100%' }"
                          [(ngModel)]="
                            header.data.billingInformation
                              .contactPersonTelephone
                          "
                          pInputText
                          [disabled]="loading"
                          [ngClass]="{
                            'ng-invalid ng-dirty':
                              header.billingInfoValidators
                                .contactPersonTelephoneEmpty
                          }"
                          (change)="resetBillingValidators()"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="grid">
                  <div class="flex align-items-center col-12 mt-2">
                    <div class="grid w-full align-items-center">
                      <div class="col-4">
                        <span>
                          {{
                            'AccountingModule::Header:BillingAddressLine1'
                              | abpLocalization
                          }}
                        </span>
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          class="w-full"
                          [style]="{ width: '100%' }"
                          [(ngModel)]="
                            header.data.billingInformation.billingAddressLine1
                          "
                          pInputText
                          [disabled]="loading"
                          [ngClass]="{
                            'ng-invalid ng-dirty':
                              header.billingInfoValidators
                                .billingAddressLine1Empty
                          }"
                          (change)="resetBillingValidators()"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="flex align-items-center col-12 mt-2">
                    <div class="grid w-full align-items-center">
                      <div class="col-4">
                        <span>
                          {{
                            'AccountingModule::Header:BillingAddressLine2'
                              | abpLocalization
                          }}
                        </span>
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          class="w-full"
                          [style]="{ width: '100%' }"
                          [(ngModel)]="
                            header.data.billingInformation.billingAddressLine2
                          "
                          pInputText
                          [disabled]="loading"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="flex align-items-center col-12 mt-2">
                    <div class="grid w-full align-items-center">
                      <div class="col-4">
                        <span>
                          {{
                            'AccountingModule::Header:Country' | abpLocalization
                          }}
                        </span>
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          class="w-full"
                          [style]="{ width: '100%' }"
                          [(ngModel)]="header.data.billingInformation.country"
                          pInputText
                          [disabled]="loading"
                          [ngClass]="{
                            'ng-invalid ng-dirty':
                              header.billingInfoValidators.countryEmpty
                          }"
                          (change)="resetBillingValidators()"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="flex align-items-center col-12 mt-2">
                    <div class="grid w-full align-items-center">
                      <div class="col-4">
                        <span>
                          {{
                            'AccountingModule::Header:City' | abpLocalization
                          }}
                        </span>
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          class="w-full"
                          [style]="{ width: '100%' }"
                          [(ngModel)]="header.data.billingInformation.city"
                          pInputText
                          [disabled]="loading"
                          [ngClass]="{
                            'ng-invalid ng-dirty':
                              header.billingInfoValidators.cityEmpty
                          }"
                          (change)="resetBillingValidators()"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="flex align-items-center col-12 mt-2">
                    <div class="grid w-full align-items-center">
                      <div class="col-4">
                        <span>
                          {{
                            'AccountingModule::Header:StateOrProvince'
                              | abpLocalization
                          }}
                        </span>
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          class="w-full"
                          [style]="{ width: '100%' }"
                          [(ngModel)]="
                            header.data.billingInformation.stateOrProvince
                          "
                          pInputText
                          [disabled]="loading"
                          [ngClass]="{
                            'ng-invalid ng-dirty':
                              header.billingInfoValidators.stateOrProvinceEmpty
                          }"
                          (change)="resetBillingValidators()"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="flex align-items-center col-12 mt-2">
                    <div class="grid w-full align-items-center">
                      <div class="col-4">
                        <span>
                          {{
                            'AccountingModule::Header:PostalCode'
                              | abpLocalization
                          }}
                        </span>
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          class="w-full"
                          [style]="{ width: '100%' }"
                          [(ngModel)]="
                            header.data.billingInformation.postalCode
                          "
                          pInputText
                          [disabled]="loading"
                          [ngClass]="{
                            'ng-invalid ng-dirty':
                              header.billingInfoValidators.postalCodeEmpty
                          }"
                          (change)="resetBillingValidators()"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel>
          <div>
            <ng-template
              appResponsiveTable="md"
              let-scrollable
              let-breakpoint="breakpoint"
              let-direction="direction"
            >
              <p-table
                [scrollable]="scrollable"
                [responsive]="true"
                responsiveLayout="stack"
                [breakpoint]="breakpoint"
                scrollDirection="both"
                class="cell-center"
                [value]="members"
                dataKey="id"
                [loading]="loading"
                [paginator]="false"
              >
                <ng-template pTemplate="header">
                  <tr class="table-header w-full">
                    <th>
                      {{ 'AccountingModule::Row:MemberType' | abpLocalization }}
                    </th>
                    <th>
                      {{ 'AccountingModule::Row:RefId' | abpLocalization }}
                    </th>
                    <th
                      appResponsiveColumn="110"
                      [alignFrozen]="direction"
                      pFrozenColumn
                    >
                      <p-button
                        icon="fa fa-plus"
                        (click)="addMember()"
                        [disabled]="loading"
                        autoWidth="false"
                        [text]="true"
                        [raised]="true"
                        iconPos="left"
                        styleClass="p-button-info p-button-sm"
                        [label]="'AccountingModule::Add' | abpLocalization"
                      >
                      </p-button>
                    </th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-member
                  let-rowIndex="rowIndex"
                >
                  <tr>
                    <td>
                      <span class="non-editing-only p-column-title">{{
                        'AccountingModule::Row:MemberType' | abpLocalization
                      }}</span>
                      <span class="column-content">
                        {{ getMemberTypeName(member.type) || '-' }}
                      </span>
                    </td>
                    <td>
                      <span class="non-editing-only p-column-title">{{
                        'AccountingModule::Row:RefId' | abpLocalization
                      }}</span>
                      <span class="column-content">
                        {{ member.refId || '-' }}
                      </span>
                    </td>
                    <td
                      class="row-buttons"
                      [alignFrozen]="direction"
                      pFrozenColumn
                    >
                      <i
                        (click)="editMember(member)"
                        class="fa fa-edit mr-1"
                        [pTooltip]="
                          'AccountingModule::Tooltip:EditMember'
                            | abpLocalization
                        "
                      ></i>
                      <i
                        (click)="removeMember(rowIndex)"
                        class="fa fa-trash" style="color: red"
                        [pTooltip]="
                          'AccountingModule::Tooltip:RemoveMember'
                            | abpLocalization
                        "
                    
                      ></i>
                      <i
                        (click)="addMember()"
                        class="fa fa-plus" style="color: #22c55e;"
                        [pTooltip]="
                          'AccountingModule::Tooltip:AddMember'
                            | abpLocalization
                        "
                      ></i>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr class="table-emptymessage">
                    <td class="w-full" colspan="3">
                      <div class="card w-full">
                        <div class="card-body w-full">
                          <div class="card-header">
                            {{
                              'AccountingModule::NoMembers' | abpLocalization
                            }}
                          </div>
                          <div
                            class="flex align-item-center justify-content-center"
                          >
                            <button
                              (click)="addMember()"
                              pButton
                              [pTooltip]="
                                'AccountingModule::Tooltip:AddMember'
                                  | abpLocalization
                              "
                              icon="fa fa-plus" style="color: #22c55e;"
                              [disabled]="loading"
                              class="small-width-only p-button-outlined p-button-rounded"
                              iconPos="left"
                            ></button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </ng-template>
          </div>
        </p-tabpanel>
        </p-tabpanels>
        
      </p-tabs>
    </div>
  </div>

  <app-member-create
    [(display)]="showMemberDialog"
    [memberData]="editingMember"
    (saveEvent)="onMemberDialogSave($event)"
  >
  </app-member-create>

  <app-member-selection-dialog
    [(display)]="showMemberSelectionDialog"
    [members]="members"
    [selectedMembers]="currentPackageRow?.data?.linkedMembers || []"
    (selectEvent)="onMemberSelectionSave($event)"
  >
  </app-member-selection-dialog>
</div>
