<p-dialog
  [resizable]="false"
  [header]="dialogHeader"
  [visible]="visible"
  (visibleChange)="visibleChange.emit($event)"
  [modal]="true"
  [contentStyle]="{height: '400px'}"
  (onHide)="onDialogHide()"
>
  <div class="settings-dialog">
    <div class="w-full">
      <div class="dialog-standard">
  <div class="grid">
    <div class="col-4 flex align-items-center gap-3">
      <span appRequired>{{ 'TenantManagement::Name' | abpLocalization }}</span>
    </div>
    <div class="col-8 flex align-items-center gap-3">
      <input
        [ngClass]="{ 'ng-invalid ng-dirty': nameEmpty }"
        (input)="onInput()"
        class="w-full"
        id="loc-name"
        type="text"
        pInputText
        [(ngModel)]="model.name"
      />
    </div>
  </div>
  <div class="grid">
    <div class="col-4 flex align-items-center gap-3">
      <span>{{ 'TenantManagement::Gateway' | abpLocalization }}</span>
    </div>
    <div class="col-8 flex align-items-center gap-3">
      <input
        class="w-full"
        [value]="gatewayName"
        type="text"
        pInputText
        [readonly]="true"
      />
    </div>
  </div>
  <div *ngIf="model.locationType === LocationType.Site"
   class="grid">
    <div class="col-4 flex align-items-center gap-3">
      <span appRequired>{{
        'TenantManagement::Path' | abpLocalization
      }}</span>
    </div>
    <div class="col-8 flex align-items-center gap-3">
      <div
        class="p-inputgroup"
        [ngClass]="{ 'ng-invalid ng-dirty invalid': pathEmpty }"
      >
        <span
          class="p-inputgroup-addon small"
          [pTooltip]="'TenantManagement::Path:Tooltip' | abpLocalization"
          tooltipPosition="top"
          >{{ pathPrefix }}</span
        >
        <input
          class="w-full"
          id="loc-path"
          type="text"
          pInputText
          [(ngModel)]="model.path"
          (input)="onInput()"
        />
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-4 flex align-items-center gap-3">
      <span>{{ 'TenantManagement::Hostname' | abpLocalization }}</span>
    </div>
    <div class="col-8 flex align-items-center gap-3">
      <div class="p-inputgroup">
        <input
          class="no-select w-full"
          inputId="hostname-input"
          [value]="selectedTenantDomain?.domain || selectedTenantDomain?.url || ''"
          type="text"
          pInputText
          [disabled]="!isEdit && model.id"
          [readonly]="true"
          placeholder="{{ 'TenantManagement::Hostname:Placeholder' | abpLocalization }}"
        />
        <button
          type="button"
          (click)="openTenantDomainSelectionDialog()"
          pButton
          pRipple
          icon="fa fa-globe"
          [disabled]="loading || (!isEdit && model.id)"
          styleClass="p-button-info"
          class="p-button-text"
          [pTooltip]="'TenantManagement::Hostname:Select' | abpLocalization"
        ></button>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-4 flex align-items-center gap-3">
      <span>{{ 'TenantManagement::IsEnabled' | abpLocalization }}</span>
    </div>
    <div class="col-8 flex align-items-center gap-3">
      <p-toggleSwitch
        [(ngModel)]="model.isEnabled"
        (ngModelChange)="onInput()"
      ></p-toggleSwitch>
    </div>
  </div>
  <div class="grid">
    <div class="col-4 flex align-items-center gap-3">
      <span appRequired>{{
        'TenantManagement::SiteType' | abpLocalization
      }}</span>
    </div>
    <div class="col-8">
      <p-select
        id="loc-siteType"
        [options]="siteTypes"
        [(ngModel)]="model.siteType"
        optionLabel="label"
        optionValue="value"
        (ngModelChange)="onInput()"
        [style]="{ width: '100%' }"
      ></p-select>
    </div>
  </div>
  <div class="grid" *ngIf="isEdit">
    <div class="col-4 flex align-items-center gap-3">
      <span>{{ 'TenantManagement::IsDefault' | abpLocalization }}</span>
    </div>
    <div class="col-8 flex align-items-center gap-3">
      <p-toggleSwitch
        [(ngModel)]="model.isDefault"
        (ngModelChange)="onInput()"
      ></p-toggleSwitch>
    </div>
  </div>

  <!-- Redirect -->
  <ng-container *ngIf="model.siteType === SiteType.Redirect">
    <div class="grid">
      <div class="col-4 flex align-items-center gap-3">
        <span>{{ 'TenantManagement::DestinationPath' | abpLocalization }}</span>
      </div>
      <div class="col-8 flex align-items-center gap-3">
        <input
          class="w-full"
          (input)="onInput()"
          id="loc-destinationPath"
          type="text"
          pInputText
          [(ngModel)]="model.destinationPath"
        />
      </div>
    </div>
  </ng-container>

  <!-- VirtualFolder -->
  <ng-container *ngIf="model.siteType === SiteType.VirtualFolder">
    <div class="grid">
      <div class="col-4 flex align-items-center gap-3">
        <span>{{ 'TenantManagement::Source' | abpLocalization }}</span>
      </div>
      <div class="col-8 flex align-items-center gap-3">
        <input
          class="w-full"
          (input)="onInput()"
          id="loc-source"
          type="text"
          pInputText
          [(ngModel)]="model.source"
        />
      </div>
    </div>
    <div class="grid">
      <div class="col-4 flex align-items-center gap-3">
        <span>{{ 'TenantManagement::SourceId' | abpLocalization }}</span>
      </div>
      <div class="col-8 flex align-items-center gap-3">
        <input
          class="w-full"
          (input)="onInput()"
          id="loc-sourceId"
          type="text"
          pInputText
          [(ngModel)]="model.sourceId"
        />
      </div>
    </div>
    <div class="grid">
      <div class="col-4 flex align-items-center gap-3">
        <span>{{
          'TenantManagement::VirtualFolderType' | abpLocalization
        }}</span>
      </div>
      <div class="col-8">
        <p-select
          id="loc-virtualFolderType"
          [options]="virtualFolderTypes"
          [(ngModel)]="model.virtualFolderType"
          optionLabel="label"
          optionValue="value"
          (ngModelChange)="onInput()"
          appendTo="body"
          [style]="{ width: '100%' }"
        ></p-select>
      </div>
    </div>
  </ng-container>

  <!-- Angular -->
  <ng-container *ngIf="model.siteType === SiteType.Angular">
    <div class="grid">
      <div class="col-4 flex align-items-center gap-3">
        <span>{{ 'TenantManagement::Framework' | abpLocalization }}</span>
      </div>
      <div class="col-8">
        <p-select
          id="loc-frameworkType"
          [options]="frameworkTypes"
          [(ngModel)]="model.frameworkType"
          optionLabel="label"
          optionValue="value"
          (ngModelChange)="onInput()"
          [style]="{ width: '100%' }"
        ></p-select>
      </div>
    </div>
    <div class="grid">
      <div class="col-4 flex align-items-center gap-3">
        <span>{{ 'TenantManagement::Style' | abpLocalization }}</span>
      </div>
      <div class="col-8">
        <p-select
          id="loc-styleType"
          [options]="styleTypes"
          [(ngModel)]="model.styleType"
          optionLabel="label"
          optionValue="value"
          (ngModelChange)="onInput()"
          [style]="{ width: '100%' }"
        ></p-select>
      </div>
    </div>
  </ng-container>
      </div>
    </div>
  </div>
  <ng-template #footer>
    <p-button
      icon="pi pi-times"
      [label]="'Infrastructure::Cancel' | abpLocalization"
      (click)="emitCancel()"
      [text]="true"
      [raised]="true"
      styleClass="p-button-secondary"
    >
    </p-button>
    <p-button
      [icon]="isEdit ? 'pi pi-check' : 'fa fa-plus'"
      [label]="
        isEdit
          ? ('Infrastructure::Save' | abpLocalization)
          : ('Infrastructure::Create' | abpLocalization)
      "
      (click)="emitSave()"
      [text]="true"
      [raised]="true"
      styleClass="p-button-primary"
    >
    </p-button>
  </ng-template>
</p-dialog>
