.single-column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.half-width-field {
  width: 100%;
}

.full-width-block {
  width: 100%;
}

@media (min-width: 992px) {
  .half-width-field {
    max-width: 50%;
  }
}
