.group-row {
    background: linear-gradient(
      180deg,
      #f5f5f5 0%,
      #f5f5f5 5%,
      #f8f8f8 15%,
      transparent 70%,
      transparent 100%
    ) !important;
  }

  :host ::ng-deep .p-datatable .p-datatable-tbody>tr>td{
    padding: 0;
  }

  :host ::ng-deep .p-datatable .p-datatable-tbody > tr.selectable-row:hover{
    background-color: #f3f4f6 !important
  }