<app-page-title [title]="'TenantManagement::Sites' | abpLocalization" icon="fa-solid fa-globe">
</app-page-title>

<div class="content">
	<div class="grid m-0">
		<div class="col-12 md:col-3 lg:col-3">
			<p-tree class="w-full" [value]="applicationsTree" [(selection)]="selectedApplication" selectionMode="single" [loading]="loading" (onNodeSelect)="nodeSelect()"
			scrollHeight="80vh" [virtualScroll]="true" [virtualScrollItemSize]="40">
				<ng-template pTemplate="site" let-site>
					<b>{{site?.data?.name }}</b>
				</ng-template>
				<ng-template pTemplate="app" let-app>
					<div class="flex align-items-center justify-content-between">
						<span>
							{{ app?.data?.name }}
						</span>
						<span class="flex gap-3">
							<!-- <span class="buttons" (click)="editGroup(group)">
								<i class="fa fa-edit text-primary"></i>
							</span>
							<span class="buttons" (click)="deleteGroup(group)">
								<i class="fa fa-trash" style="color: var(--danger-color);"></i>
							</span> -->
						</span>
					</div>
				</ng-template>
			</p-tree>
		</div>
		<div class="col-12 md:col-9 lg:col-9">
            <div class="w-full h-full">
                <p-tabs [(value)]="activeSettingsTabIndex" class="w-full">
                    <p-tablist>
                        <p-tab [value]="0">
                            <span class="flex">
                                <i class="fa-regular fa-newspaper hidden md:inline-flex"></i>
                                <i class="fa-regular fa-newspaper hidden inline-flex md:hidden px-3"></i>
                                <span class="hidden md:inline-flex px-3">
                                    {{'TenantManagement::Application:GeneralSettings' | abpLocalization}}
                                </span>
                            </span>
                        </p-tab>
                        <p-tab [value]="1">
                            <span class="flex">
                                <i class="fa-regular fa-newspaper hidden md:inline-flex"></i>
                                <i class="fa-regular fa-newspaper hidden inline-flex md:hidden px-3"></i>
                                <span class="hidden md:inline-flex px-3">
                                    {{'TenantManagement::Application:SubApplications' | abpLocalization}}
                                </span>
                            </span>
                        </p-tab>
                        <p-tab *ngIf="!!selectedApplication && !selectedApplication?.data?.parentId" [value]="2">
                            <span class="flex">
                                <i class="fa-regular fa-newspaper hidden md:inline-flex"></i>
                                <i class="fa-regular fa-newspaper hidden inline-flex md:hidden px-3"></i>
                                <span class="hidden md:inline-flex px-3">
                                    {{'TenantManagement::Application:Hostnames' | abpLocalization}}
                                </span>
                            </span>
                        </p-tab>
                    </p-tablist>
                    <p-tabpanels>
                        <p-tabpanel [value]="0">
                            <div>
                                <app-application-settings *ngIf="!!selectedApplication" [application]="selectedApplication"></app-application-settings>
                            </div>
                        </p-tabpanel>
                        <p-tabpanel [value]="1">
                            <div>
                                <app-subapplications-table *ngIf="!!selectedApplication" [application]="selectedApplication"></app-subapplications-table>
                            </div>
                        </p-tabpanel>
                        <p-tabpanel *ngIf="!!selectedApplication && !selectedApplication?.data?.parentId" [value]="2">
                            <div >
                                <app-application-domains-settings *ngIf="activeSettingsTabIndex === 2" [application]="selectedApplication" ></app-application-domains-settings>
                            </div>
                        </p-tabpanel>
                    </p-tabpanels>
                </p-tabs>
            </div>
		</div>
	</div>
</div>


<p-dialog [resizable]="false" [header]="(addType == 'Site') ? ('TenantManagement::CreateSite'| abpLocalization) : ('TenantManagement::CreateApplication'| abpLocalization:selectedApplication?.data?.name)" [(visible)]="displayCreateDialog" [modal]="true" (visibleChange)="createApplicationDialogClear()">
  <div class="dialog-standard">
    <div class="grid">
      <div class="col-4 flex align-items-center gap-3">
        <span appRequired>{{ 'TenantManagement::Name' | abpLocalization }}</span>
      </div>
      <div class="col-8 flex align-items-center gap-3">
        <input  [ngClass]="{'ng-invalid ng-dirty': nameEmpty}" (input)="resetValidators()" class="w-full" id="name" type="text" pInputText [(ngModel)]="newApplication.name" />
      </div>
    </div>
    <div class="grid">
      <div class="col-4 flex align-items-center gap-3">
        <span appRequired>{{ 'TenantManagement::Path' | abpLocalization }}</span>
      </div>
      <div class="col-8 flex align-items-center gap-3">
        <div class="p-inputgroup" [ngClass]="{'ng-invalid ng-dirty invalid': pathEmpty }">
          <span class="p-inputgroup-addon small" [pTooltip]="tooltip" tooltipPosition="top">/apps/</span>
          <input class="w-full" (input)="resetValidators()" id="url" type="text" pInputText [(ngModel)]="newApplication.path" />
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-4 flex align-items-center gap-3">
        <span appRequired>{{ 'TenantManagement::Framework' | abpLocalization }}</span>
      </div>
      <div class="col-8">
        <p-select id="frameworkType" [options]="frameworkTypes" [(ngModel)]="newApplication.frameworkType"
        autoWidth="false" [style]="{'width':'100%'}"
          ></p-select>
      </div>
    </div>
    <div class="grid" *ngIf="newApplication.frameworkType === 0 || newApplication.frameworkType === 3">
      <div class="col-4 flex align-items-center gap-3">
        <span appRequired>{{ 'TenantManagement::Source' | abpLocalization }}</span>
      </div>
      <div class="col-8 flex align-items-center gap-3">
        <input [class]="'w-full ' + ( newApplication.source?.length === 0 ? 'ng-invalid ng-dirty' : '' )"  id="source" type="text" pInputText [(ngModel)]="newApplication.source" />
      </div>
    </div>
    <div class="grid">
      <div class="col-4 flex align-items-center gap-3">
        <span appRequired>{{ 'TenantManagement::Style' | abpLocalization }}</span>

      </div>
      <div class="col-8">
        <p-select id="styleType" [options]="styleTypes" [(ngModel)]="newApplication.styleType" optionValue="value"
        autoWidth="false" [style]="{'width':'100%'}"></p-select>
      </div>
    </div>
    <div class="grid">
      <div class="col-4 flex align-items-center gap-3">
        <span appRequired>{{ 'TenantManagement::Type' | abpLocalization }}</span>
      </div>
      <div class="col-8">
        <p-select id="clientApplicationType" [options]="applicationTypes"
        autoWidth="false" [style]="{'width':'100%'}"
          [(ngModel)]="newApplication.clientApplicationType"></p-select>
      </div>
    </div>
    <div class="grid">
      <div class="col-4 flex align-items-center gap-3">
        <span>{{ 'TenantManagement::Icon' | abpLocalization }}</span>
      </div>
      <div class="col-8 flex align-items-center gap-3">
        <input class="w-full" id="name" type="text" pInputText [(ngModel)]="newApplication.icon" />
      </div>
    </div>
  </div>
    <p-footer class="flex gap-3 justify-content-end">
      <p-button icon="pi pi-times"  [label]="'Infrastructure::Cancel' | abpLocalization" (click)="cancelCreateApplication()" [text]="true" [raised]="true" styleClass="p-button-secondary"></p-button>
      <p-button icon="fa fa-plus" [label]="'Infrastructure::Create' | abpLocalization" (click)="createApplication()" [text]="true" [raised]="true"></p-button>
    </p-footer>
</p-dialog>

<p-dialog [resizable]="false" [header]="'TenantManagement::ApplicationSettings' | abpLocalization" [(visible)]="displayDialog" [modal]="true"
  *ngIf="displayDialog && selectedNode.data" (visibleChange)="clear()" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <div class="h-dialog-fixed-height settings-dialog">
    <div class="w-full">
      <p-tabs class="w-full">
        <p-tablist>
          <p-tab value="general">
            <div class="flex align-items-center gap-2">
              <i class="fas fa-user"></i>
              <span class="hidden md:inline">{{'TenantManagement::General' | abpLocalization}}</span>
            </div>
          </p-tab>
          <p-tab value="menus">
            <div class="flex align-items-center gap-2">
                <i class="fa-solid fa-bars"></i>
                <span class="hidden md:inline">{{'TenantManagement::ApplicationMenuItem:Menus' | abpLocalization}}</span>
            </div>
          </p-tab>
          <p-tab value="multi-tenancy">
            <div class="flex align-items-center gap-2">
                <i class="fa-solid fa-bars"></i>
                <span class="hidden md:inline">{{'TenantManagement::ApplicationMenuItem:MultiTenancy' | abpLocalization}}</span>
            </div>
          </p-tab>
          <p-tab value="pwa">
            <div class="flex align-items-center gap-2">
                <i class="fa-solid fa-bars"></i>
                <span class="hidden md:inline">{{'TenantManagement::PWA' | abpLocalization}}</span>
            </div>
          </p-tab>
          <p-tab value="sw">
            <div class="flex align-items-center gap-2">
                <i class="fa-solid fa-bars"></i>
                <span class="hidden md:inline">{{'TenantManagement::ServiceWorker' | abpLocalization}}</span>
            </div>
          </p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel value="general">
            <app-general-settings 
              [node]="selectedNode"
              [nameEmpty]="nameEmpty"
              [pathEmpty]="pathEmpty"
              [tooltip]="tooltip"
              [loadLevels]="loadLevels"
              (resetValidators)="resetValidators()">
            </app-general-settings>
          </p-tabpanel>

          <p-tabpanel value="menus">
            <p-tabs class="w-full">
              <p-tablist>
                <p-tab value="general-menu">
                  <div class="flex align-items-center gap-2">
                    <i class="fa-solid fa-bars"></i>
                    <span class="hidden md:inline">{{'TenantManagement::ApplicationMenuItem:General' | abpLocalization}}</span>
                  </div>
                </p-tab>
                <p-tab value="top-menu">
                  <div class="flex align-items-center gap-2">
                    <i class="fa-solid fa-bars"></i>
                    <span class="hidden md:inline">{{'TenantManagement::ApplicationMenuItem:TopMenu' | abpLocalization}}</span>
                  </div>
                </p-tab>
                <p-tab value="user-menu">
                  <div class="flex align-items-center gap-2">
                      <i class="fas fa-user"></i>
                      <span class="hidden md:inline">{{'TenantManagement::ApplicationMenuItem:UserMenu' | abpLocalization}}</span>
                  </div>
                </p-tab>
              </p-tablist>
              <p-tabpanels>
                <p-tabpanel value="general-menu">
                  <div class="dialog-max">
                    <app-application-menu-item-management [applicationId]="selectedNode?.data?.id" #generalMenuItem [applicationName]="selectedNode?.data?.name" [menuType]="MenuType.General">
                    </app-application-menu-item-management>
                  </div>
                </p-tabpanel>
                <p-tabpanel value="top-menu">
                  <div class="dialog-max">
                    <app-application-menu-item-management [applicationId]="selectedNode?.data?.id" #topMenuItem [applicationName]="selectedNode?.data?.name" [menuType]="MenuType.Top">
                    </app-application-menu-item-management>
                  </div>
                </p-tabpanel>
                <p-tabpanel value="user-menu">
                  <div class="dialog-max">
                    <app-application-menu-item-management [applicationId]="selectedNode?.data?.id" #userMenuItem [applicationName]="selectedNode?.data?.name" [menuType]="MenuType.User">
                    </app-application-menu-item-management>
                  </div>
                </p-tabpanel>
              </p-tabpanels>
            </p-tabs>
          </p-tabpanel>

          <p-tabpanel value="multi-tenancy">
            <div>
              <app-multi-tenancy-management [applicationName]="selectedNode?.data.name" [applicationId]="selectedNode?.data.id" #multiTenancyItem>
              </app-multi-tenancy-management>
            </div>
          </p-tabpanel>

          <p-tabpanel value="pwa">
            <div>
              <app-pwa-settings #pwaSettings [node]="selectedNode"></app-pwa-settings>
            </div>
          </p-tabpanel>
          <p-tabpanel value="sw">
            <div>
              <app-service-worker-settings #swSettings [node]="selectedNode"></app-service-worker-settings>
            </div>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
  </div>
  <p-footer class="flex gap-3 justify-content-end">
    <p-button *ngIf="selectedNode.data.nodeType === 'client-app'" icon="pi pi-times"  [label]="'Infrastructure::Cancel' | abpLocalization" (click)="cancelEditAppSettings()" [text]="true" [raised]="true" styleClass="p-button-secondary"></p-button>
    <p-button *ngIf="selectedNode.data.nodeType !== 'client-app'" icon="pi pi-check" [label]="'Infrastructure::Save' | abpLocalization" (click)="saveSettings()" [text]="true" [raised]="true"></p-button>
    <p-button *ngIf="selectedNode.data.nodeType === 'client-app'" icon="pi pi-check" [label]="'Infrastructure::Save' | abpLocalization" (click)="saveAppSettings()" [text]="true" [raised]="true" styleClass="p-button-primary" [disabled]="selectedNode.data.isSystem"></p-button>
  </p-footer>
</p-dialog>
