<p-table
  [value]="uiModules"
  editableRow
  dataKey="id"
  [(selection)]="selectedUiModules"
  [paginator]="true"
  [rows]="10"
>
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'TenantManagement::Name' | abpLocalization }}</th>
      <th>{{ 'TenantManagement::ParentName' | abpLocalization }}</th>
      <th>{{ 'TenantManagement::RemoteName' | abpLocalization }}</th>
      <th>{{ 'TenantManagement::RouteName' | abpLocalization }}</th>
      <th>{{ 'TenantManagement::ModuleName' | abpLocalization }}</th>
      <th>{{ 'TenantManagement::DependsOnFeature' | abpLocalization }}</th>
      <th>{{ 'TenantManagement::IsAdmin' | abpLocalization }}</th>
      <th>{{ 'TenantManagement::IsEnabled' | abpLocalization }}</th>
      <th>{{ 'TenantManagement::Url' | abpLocalization }}</th>
      <!-- <th>{{'TenantManagement::LoadType' | abpLocalization}}</th> -->
      <th>{{ 'TenantManagement::Actions' | abpLocalization }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-uiModule let-editing="editing">
    <tr [pEditableRow]="uiModule">
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText [(ngModel)]="uiModule.name" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ uiModule.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText [(ngModel)]="uiModule.parentName" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ uiModule.parentName }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText [(ngModel)]="uiModule.remoteName" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ uiModule.remoteName }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText [(ngModel)]="uiModule.routeName" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ uiModule.routeName }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText [(ngModel)]="uiModule.moduleName" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ uiModule.moduleName }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              type="text"
              pInputText
              [(ngModel)]="uiModule.dependsOnFeature"
            />
          </ng-template>
          <ng-template pTemplate="output">
            {{ uiModule.dependsOnFeature }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-checkbox [(ngModel)]="uiModule.isAdmin"></p-checkbox>
          </ng-template>
          <ng-template pTemplate="output">
            {{
              uiModule.isAdmin
                ? ('TenantManagement::Yes' | abpLocalization)
                : ('TenantManagement::No' | abpLocalization)
            }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-checkbox [(ngModel)]="uiModule.isEnabled"></p-checkbox>
          </ng-template>
          <ng-template pTemplate="output">
            {{
              uiModule.isEnabled
                ? ('TenantManagement::Yes' | abpLocalization)
                : ('TenantManagement::No' | abpLocalization)
            }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText [(ngModel)]="uiModule.url" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ uiModule.url }}
          </ng-template>
        </p-cellEditor>
      </td>
      <!-- <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-select [options]="loadTypes" [(ngModel)]="uiModule.loadType" optionLabel="label"></p-select>
            </ng-template>
            <ng-template pTemplate="output">
              {{getLoadTypeLabel(uiModule.loadType)}}
            </ng-template>
          </p-cellEditor>
        </td> -->
      <td>
        <button
          pButton
          type="button"
          icon="pi pi-check"
          (click)="saveUiModule(uiModule)"
          [disabled]="!editing"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-times"
          (click)="cancelEdit(uiModule, editing)"
          [disabled]="!editing"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          (click)="deleteUiModule(uiModule.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
