/* You can add global styles to this file, and also import other style files */

@import "node_modules/@nebular/theme/styles/prebuilt/default.css";

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "node_modules/primeflex/primeflex.scss";
@import "node_modules/primeicons/primeicons.css";

/* Demos */
// @import "assets/demo/styles/flags/flags.css";
// @import "assets/demo/styles/badges.scss";
// @import "assets/demo/styles/code.scss";


@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
