

*[dir='rtl'] :host ::ng-deep .textAlign {
  text-align: right !important;
}

:host ::ng-deep 
  .textAlign {
  text-align: left;
  }


.dialogWidth {
  max-width: 24vw;
  min-width: 24vw;
  width: 24vw;
}

.wrapper {
  max-width: 85vw;
  min-width: 85vw;
  width: 85vw;

  @media screen and (min-width: 768px) {
    max-width: 50vw;
    min-width: 50vw;
    width: 50vw;
    max-height: 50vw;
  }
}

.mobile-width{
  width: 96%;
}


.desktop-width{
  width: 99%;
}