.unread-badge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40%);
  color: var(--green-500);
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;

  .bullet {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: var(--green-500);
  }

  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
