
:host ::ng-deep {
}
gridster {
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    background: none;
}

gridster-item {
  background: transparent;
}

.custom-hover:hover {
  box-shadow: 0 0 5px 5px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f !important;
  z-index: 2 !important;
  display: block !important;
  transition: 0s !important;
  background: transparent !important;
}

.icon-display {
  transform: scale(4);
}

.drag-handler:hover {
  color: blue !important;
}

.page-title-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:host ::ng-deep {
  .dash-btn {
    height: 2.5rem !important;
    width: 7rem !important;
  }
}