
  
    <app-page-title [title]="'TenantManagement::Role:Dashboard:Title' | abpLocalization" icon="fas fa-user-tag">
    </app-page-title>
  
  <div class="content mt-2">
    <div #tableCard>
      <p-table *appResponsiveTable="'md'; let scrollable; let breakpoint = breakpoint" [scrollable]="scrollable"
      [responsive]="true" responsiveLayout="stack" [breakpoint]="breakpoint" scrollDirection="both"
      class="data-table" [lazy]="true" (onLazyLoad)="loadRoles($event)" [rows]="rowsCount"
      styleClass="pr-table" [totalRecords]="totalRecords" [loading]="loading" [value]="rows" [paginator]="true"
      sortMode="single" sortField="Name" sortOrder="-1" [rowHover]="true">
      <ng-template pTemplate="caption">
        <div class="grid mt-0">
          <div class="col-12 md:col-6 md:pl-4 p-0 flex align-items-center justify-content-end">
            <div class="p-inputgroup">
              <input type="text" pInputText #searchField
                placeholder="{{'Infrastructure::Search' | abpLocalization}}"
                [(ngModel)]="searchQueryText">
              <button type="button" (click)="search($event)" pButton pRipple icon="pi pi-search"
                styleClass="p-button-info" class="p-button-text">
              </button>
              <button type="button" pButton pRipple icon="pi pi-times-circle" class="p-button-danger p-button-text"
                (click)="clear($event)">
              </button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 180px;">
            {{ "TenantManagement::Role:Actions" | abpLocalization }}
          </th>
          <th pSortableColumn="name">
            {{ "TenantManagement::Role:Header:Name" | abpLocalization }}
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="isDefault" appResponsiveColumn="100">
            {{ "TenantManagement::Role:Header:IsDefault" | abpLocalization }}
            <p-sortIcon field="isDefault"></p-sortIcon>
          </th>
          <th pSortableColumn="isPublic" appResponsiveColumn="100">
            {{ "TenantManagement::Role:Header:IsPublic" | abpLocalization }}
            <p-sortIcon field="isPublic"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td style="width: 180px;">
            <span class="non-editing-only p-column-title">
              {{"TenantManagement::Role:Actions" | abpLocalization}}
            </span>
            <div class="column-content">
              <p-splitButton #splitButton icon="fa fa-cog" (onClick)="click(splitButton, $event);selectRole(row)"
                [label]="'TenantManagement::Role:Actions' | abpLocalization" appendTo="body" [model]="items"
                (onDropdownClick)="selectRole(row)" raised text>
              </p-splitButton>
            </div>
          </td>
          <td>
            <span class="non-editing-only p-column-title">
              {{"TenantManagement::Role:Header:Name" | abpLocalization}}
            </span>
            <span class="column-content">
              <div class="textAlign">
                {{row.name == SUPER_ADMIN_ROLE ? ( 'TenantManagement::Role:SuperAdmin' | abpLocalization) : row.name}}
                <!-- <p-tag *ngIf="row.isDefault" severity="success"
                  value="{{'TenantManagement::Role:Default'| abpLocalization}}"></p-tag> &nbsp;
                <p-tag *ngIf="row.isPublic" severity="primary"
                  value="{{'TenantManagement::Role:Public'| abpLocalization}}"></p-tag> &nbsp; -->
              </div>
            </span>
          </td>
          <td appResponsiveColumn="100">
            <span class="non-editing-only p-column-title">
              {{"TenantManagement::Role:Header:Default" | abpLocalization}}
            </span>
            <div class="column-content">
              <i *ngIf="row.isDefault" class="pi pi-check-circle" 
                    style="font-size: medium; color: #22c55e;">
              </i>
            </div>
          </td>
          <td appResponsiveColumn="100">
            <span class="non-editing-only p-column-title">
              {{"TenantManagement::Role:Header:Public" | abpLocalization}}
            </span>
            <div class="column-content">
              <i *ngIf="row.isPublic" class="pi pi-check-circle" 
                    style="font-size: medium; color: #22c55e;">
              </i>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="table-emptymessage">
          <td class="w-100" colspan="2">
            <div class="card w-100">
              <div class="card-body w-100">
                <div class="card-header">
                  <span *ngIf="!searchQueryText?.length">
                    {{'TenantManagement::Role:NoRows'| abpLocalization}}
                  </span>
                  <span *ngIf="searchQueryText?.length > 0">
                    {{'TenantManagement::Role:NoRowsFound'| abpLocalization}}
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    </div>
  </div>


<app-identity-user-extended></app-identity-user-extended>
<app-role-create-dialog *ngIf="displayCreateDialog" [(display)]="displayCreateDialog" (saveEvent)="addRole($event)"
  (closeEvent)="closeCreateModal($event)">
</app-role-create-dialog>
<app-role-details-dialog *ngIf="displayEditDialog" [(display)]="displayEditDialog" [roleId]="selectedRole.id"
  (saveEvent)="updateRole($event)" (closeEvent)="closeEditModal($event)">
</app-role-details-dialog>
