
  
    <app-page-title [title]="'ServicesModule::Dashboard:Title' | abpLocalization" icon="fa-solid fa-server">
    </app-page-title>
  <div class="content mt-2">
    <div #tableCard>
      <p-table *appResponsiveTable="'md'; let scrollable; let breakpoint = breakpoint" [scrollable]="scrollable"
      [responsive]="true" responsiveLayout="stack" [breakpoint]="breakpoint" scrollDirection="both" [lazy]="true" (onLazyLoad)="loadServices($event)" [rows]="10"
      styleClass="pr-table" [totalRecords]="totalRecords" [loading]="loading" [value]="rows" [paginator]="true" [rowsPerPageOptions]="[5, 10, 15, 20]"
      (onRowSelect)="select($event)" selectionMode="single" sortMode="single"
      sortOrder="-1">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="serviceName">
            {{ "ServicesModule::Header:ServiceName" | abpLocalization }}
            <p-sortIcon field="serviceName"></p-sortIcon>
          </th>
          <th>
            {{ "ServicesModule::Header:ServiceLocation" | abpLocalization }}
          </th>
          <th appResponsiveColumn="160" pSortableColumn="lastStartupDateUtc">
            {{ "ServicesModule::Header:LastStartupDate" | abpLocalization }}
            <p-sortIcon field="lastStartupDateUtc"></p-sortIcon>
          </th>
          <th appResponsiveColumn="160" pSortableColumn="lastStatusUpdateDateUtc">
            {{ "ServicesModule::Header:LastStatusUpdateDate" | abpLocalization }}
            <p-sortIcon field="lastStatusUpdateDateUtc"></p-sortIcon>
          </th>
          <th appResponsiveColumn="160" pSortableColumn="lastManifestUpdateUtc">
            {{ "ServicesModule::Header:LastManifestUpdate" | abpLocalization }}
            <p-sortIcon field="lastManifestUpdateUtc"></p-sortIcon>
          </th>
          <th appResponsiveColumn="90">
            {{ "ServicesModule::Header:Status" | abpLocalization }}
          </th>
					<th appResponsiveColumn="10">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <td>
            <span class="non-editing-only p-column-title">{{'ServicesModule::Header:ServiceName' | abpLocalization}}</span>
						<i [class]="getTypeIcon(row.isActive)"></i>
            <span class="column-content ml-2">
              {{ row.serviceName }}
            </span>
          </td>
          <td>
            <span class="non-editing-only p-column-title">{{'ServicesModule::Header:ServiceLocation' | abpLocalization}}</span>
            <span class="column-content">
              {{ row.serviceLocation || '-' }}
            </span>
          </td>
          <td style="width:160px">
            <span class="non-editing-only p-column-title">{{'ServicesModule::Header:LastStartupDate' | abpLocalization}}</span>
            <span class="column-content">
              {{row.lastStartupDateUtc | date:'short'}}
            </span>
          </td>
          <td style="width:160px">
            <span class="non-editing-only p-column-title">{{'ServicesModule::Header:LastStatusUpdateDate' | abpLocalization}}</span>
            <span class="column-content">
              {{row.lastStatusUpdateDateUtc | date:'short'}}
            </span>
          </td>
          <td style="width:160px">
            <span class="non-editing-only p-column-title">{{'ServicesModule::Header:LastManifestUpdate' | abpLocalization}}</span>
            <span class="column-content">
              {{row.lastManifestUpdateUtc | date:'short'}}
            </span>
          </td>
          <td style="width:90px">
            <span class="non-editing-only p-column-title">{{'BackgroundJob::Header:Status' | abpLocalization}}</span>
            <span class="column-content">
               <p-tag [value]="getStatusName(row.isActive)" [severity]="getStatusClass(row.isActive)"></p-tag>
            </span>
          </td>
          <!-- Icons column -->
          <td style="width:10px">
            <div class="flex align-items-center justify-content-end">
              <span class="fa fa-magnifying-glass text-primary"></span>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="table-emptymessage">
          <td class="w-100" colspan="9999">
            <div class="card w-100">
              <div class="card-body w-100">
                <div class="card-header text-center">
                  {{getEmptyMessage() | abpLocalization}}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    </div>
  </div>
