<div>
  <ng-template
    appResponsiveTable="md"
    let-scrollable
    let-breakpoint="breakpoint"
    let-direction="direction"
  >
    <p-table
      [scrollable]="scrollable"
      [responsive]="true"
      responsiveLayout="stack"
      [breakpoint]="breakpoint"
      scrollDirection="both"
      [value]="members"
      dataKey="id"
      [loading]="componentLoading || loading"
      [paginator]="false"
      rowExpandMode="single"
      (onRowExpand)="onRowExpand($event)"
    >
      <ng-template pTemplate="header">
        <tr class="table-header w-full">
          <th style="width: 2rem"></th>
          <th>
            {{ 'AccountingModule::UserMember:Name' | abpLocalization }}
          </th>
          <th
            appResponsiveColumn="110"
            [alignFrozen]="direction"
            pFrozenColumn
          >
            <div class="flex justify-content-end">
              <p-button
                icon="fa fa-plus"
                (click)="addMember()"
                [disabled]="componentLoading || loading"
                autoWidth="false"
                [text]="true"
                [raised]="true"
                iconPos="left"
                styleClass="p-button-info p-button-sm"
                [label]="'AccountingModule::Add' | abpLocalization"
              >
              </p-button>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-member
        let-rowIndex="rowIndex"
        let-expanded="expanded"
      >
        <tr class="cursor-pointer" [pRowToggler]="member">
          <td>
            <i
              [class]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></i>
          </td>
          <td [pRowTogglerDisabled]="true">
            <span class="non-editing-only p-column-title">{{
              'AccountingModule::UserMember:Name' | abpLocalization
            }}</span>
            <span class="column-content">
              {{ getMemberUserId(member) || '-' }}
            </span>
          </td>
          <td
            class="row-buttons"
            [alignFrozen]="direction"
            pFrozenColumn
            [pRowTogglerDisabled]="true"
          >
            <div class="flex gap-2 justify-content-end">
              <i
                (click)="removeMember(rowIndex); $event.stopPropagation()"
                class="fa fa-trash" style="color: red"
                [pTooltip]="
                  'AccountingModule::Tooltip:RemoveMember'
                    | abpLocalization
                "
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #expandedrow let-member>
        <tr>
          <td [attr.colspan]="3">
            <div class="card p-0">
              <div class="card-body p-0">
                <p-table
                  [value]="member.packages || []"
                  dataKey="id"
                  responsiveLayout="scroll"
                  [loading]="member.loadingPackages"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>
                        {{ 'AccountingModule::Row:PackageTemplate' | abpLocalization }}
                      </th>
                      <th>
                        {{ 'AccountingModule::Row:BillingPeriodType' | abpLocalization }}
                      </th>
                      <th>
                        {{ 'AccountingModule::Row:OneTimeDiscount' | abpLocalization }}
                      </th>
                      <th>
                        {{ 'AccountingModule::Row:PermanentDiscount' | abpLocalization }}
                      </th>
                      <th>
                        {{ 'AccountingModule::Row:AutoRenewal' | abpLocalization }}
                      </th>
                      <th>
                        {{ 'AccountingModule::Row:LinkedMembers' | abpLocalization }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-package>
                    <tr>
                      <td>
                        {{ package.name || package.packageTemplate?.name || '-' }}
                      </td>
                      <td>
                        {{ getBillingPeriodTypeName(package.billingPeriodType) }}
                      </td>
                      <td>
                        {{ package.oneTimeDiscount }}
                      </td>
                      <td>
                        {{ package.permanentDiscount }}
                      </td>
                      <td>
                        <p-checkbox
                          [binary]="true"
                          [(ngModel)]="package.autoRenewal"
                          [disabled]="true"
                        >
                        </p-checkbox>
                      </td>
                      <td>
                        {{ package.totalLinkedMembers || 0 }}
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr class="table-emptymessage">
                      <td colspan="6">
                        <div class="card w-full">
                          <div class="card-body w-full">
                            {{ 'AccountingModule::NoAccountPackages' | abpLocalization }}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr class="table-emptymessage">
          <td class="w-full" colspan="3">
            <div class="card w-full">
              <div class="card-body w-full">
                <div class="card-header">
                  {{
                    'AccountingModule::NoUserMembers' | abpLocalization
                  }}
                </div>
                <div
                  class="flex align-item-center justify-content-center"
                >
                  <button
                    (click)="addMember()"
                    pButton
                    [pTooltip]="
                      'AccountingModule::Tooltip:AddMember'
                        | abpLocalization
                    "
                    icon="fa fa-plus" style="color: #22c55e;"
                    [disabled]="componentLoading || loading"
                    class="small-width-only p-button-outlined p-button-rounded"
                    iconPos="left"
                  ></button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</div>

<app-user-member-create
  [(display)]="showMemberDialog"
  (saveEvent)="onMemberDialogSave($event)"
>
</app-user-member-create>
