// .data {
//     width: 50vw;
//   }
  
//   @media (min-width: 576px) {
//     .data {
//       width: 60vw;
//     }
//   }
  
//   @media (min-width: 768px) {
//     .data {
//       width: 37vw;
//     }
//   }
  
//   @media (min-width: 992px) { 
//     .data {
//       width: 28vw;
//     }
//   }