@import "primeflex/core/variables.scss";

.wrapper {
  max-width: 85vw;
  min-width: 85vw;
  width: 85vw;

  @media screen and (min-width: $lg) {
    max-width: 540px;
    min-width: 540px;
    width: 540px;
  }
}

:host ::ng-deep .p-tree {
    padding: 0 !important;
}

.scroll-in-modal {
  overflow-y: auto;
  max-height: 70vh;
}

.no-scroll {
  position: sticky;
  top: 0; 
  height: 5rem;
  z-index: 999;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.mt-custom{
  margin-top: 0.55rem !important;
}

.icon-close-button {
  cursor: pointer;
  color: #6c757d;
  transition: box-shadow 0.3s ease;
  display: inline-flex;
  border-radius: 50%;
}

.icon-close-button:hover {
  box-shadow: 0 0 0 5px rgba(108, 117, 125, 0.2);
  background-color: rgba(108, 117, 125, 0.2);
}

  :host ::ng-deep .hidden-toggler{
    display: none !important;
  }
