.layout-topbar {
    position: fixed;
    height: 4rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    // padding: 0 1.5rem;
    background-color: var(--topbar-bg);
    color: var(--topbar-item-text-color);
    transition: left $transitionDuration;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);

    .layout-topbar-start {
        height: 100%;
    }
    .layout-topbar-logo {
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
        // color: var(--surface-900);
        font-size: 1.5rem;
        font-weight: 500;
        width: 300px;
        border-radius: 12px;

        img {
            height: 2.5rem;
            margin-right: .5rem;
        }

        &:focus {
            @include focused();
        }
    }

    .layout-topbar-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: var(--topbar-item-text-color);
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transition: background-color $transitionDuration;

        &:hover {
            color: var(--topbar-menu-button-text-color);
            background-color: var(--topbar-item-hover-bg);
        }

        &:focus {
            @include focused();
        }

        i {
            font-size: 20px;
        }

        span {
            font-size: 1rem;
            display: none;
        }
    }
    .layout-topbar-end {
        padding-right: 0.4rem;
    }
    .layout-topbar-start {
        display: flex;
        align-items: center;
        position: relative;
        width: 17rem;
        background-color: var(--topbar-start-bg);
        .layout-menu-button {
            position: absolute;
            top: 50%;
            margin-top: -1.25rem;
            margin-right: -1.5rem;
            right: 0.2rem;
            width: 2.5rem;
            height: 2.5rem;
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: var(--topbar-menu-button-text-color) !important;
            background-color: var(--topbar-menu-button-bg);
            box-shadow: 0px 3px 5px rgb(0 0 0 / 6%), 0px 7px 9px rgb(0 0 0 / 12%), 0px 20px 25px -8px rgb(0 0 0 / 18%);
            transition: background-color var(--transition-duration);
            cursor: pointer;
    
            &:hover {
                background-color: var(--topbar-menu-button-hover-bg);
            }
    
            i {
                transition: transform var(--transition-duration);
                font-size: 1rem !important;
            }
        }
    }

    .layout-topbar-menu-button {
        // color: var(--text-color-secondary);
        display: none;

        i {
            font-size: 1.25rem;
        }
    }

    .layout-topbar-menu {
        // margin: 0 0 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;

        .layout-topbar-button {
            // color: var(--text-color-secondary);
            // margin-left: 1rem;
        }
    }
}
.menu-overlay {
    .p-overlaypanel-content {
        padding: 0;
    }
    .p-menu {
        border: none;
        .p-menuitem-link-active {
            background-color: var(--inline-menu-border-color);
        }
    }
    .p-listbox {
        border: none;
        border-radius: 0;
        .p-listbox-list {
            padding: 0.3rem 0;
            outline: 0 none;
        }
    }
}

@media (max-width: 991px) {
    .layout-topbar {
        justify-content: space-between;
        padding: 0;

        .layout-topbar-logo {
            width: auto;
            order: 2;
        }

        .layout-menu-button {
            margin-left: 0;
            order: 1;
        }

        .layout-topbar-menu-button {
            display: inline-flex;
            margin-left: 0;
            order: 3;
        }

        // .layout-topbar-menu {
        //     margin-left: 0;
        //     position: absolute;
        //     flex-direction: column;
        //     background-color: var(--surface-overlay);
        //     box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);
        //     border-radius: 12px;
        //     padding: 1rem;
        //     right: 2rem;
        //     top: 5rem;
        //     min-width: 15rem;
        //     display: none;
        //     -webkit-animation: scalein 0.15s linear;
        //     animation: scalein 0.15s linear;

        //     &.layout-topbar-menu-mobile-active {
        //         display: block
        //     }

        //     .layout-topbar-button {
        //         margin-left: 0;
        //         display: flex;
        //         width: 100%;
        //         height: auto;
        //         justify-content: flex-start;
        //         border-radius: 12px;
        //         padding: 1rem;

        //         i {
        //             font-size: 1rem;
        //             margin-right: .5rem;
        //         }

        //         span {
        //             font-weight: medium;
        //             display: block;
        //         }
        //     }
        // }
    }
}

@import './topbar/_topbar';
