
  
  :host ::ng-deep .p-tag.new {
    background: var(--yellow-500);
  }
  
  :host ::ng-deep .p-tag.generating {
    background: var(--primary-500);
  }
  
  :host ::ng-deep .p-tag.active {
    background: var(--green-500);
  }
  
  :host ::ng-deep .p-tag.deleted {
    background: var(--red-500);
  }
  
  :host ::ng-deep .p-tag.canceled {
    background: var(--gray-800);
  }
  
  :host ::ng-deep .p-tag.suspended {
    background: var(--orange-500);
  }
  